<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>TEST</title>
 
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="tables.js"></script>
</head>
<body>
 
<div style="width:800px;margin:40px auto 0">
    <table id="example" class="display" width="100%"></table>
</div>
 