<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) PCOUNT
		  FROM PRODUCT
		 WHERE PRODUCT_STATUS = 'Y'
	</entry>
	<entry key="selectList">
		SELECT * 
		  FROM (
		      SELECT ROWNUM RNUM
		         , A.*
		      FROM (SELECT PRODUCT_NO
		                 , PRODUCT_NAME
		                 , PRICE
		                 , DELETE_STATUS
		                 , P.CATEGORY_NO
		                 , P.USER_NO
		                 , P.REGION_NO
		              FROM PRODUCT P
		              JOIN CATEGORY C ON (P.CATEGORY_NO = C.CATEGORY_NO)
		              JOIN USER_INFO U ON (P.USER_NO = U.USER_NO)
		             WHERE P.PRODUCT_STATUS = 'Y'
		             ORDER BY CREATED_AT DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>