<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) PCOUNT
		  FROM PRODUCT
		 WHERE PRODUCT_STATUS = 'Y'
	</entry>
	<entry key="selectList">
		SELECT * 
		  FROM (
		      SELECT ROWNUM RNUM
		         , A.*
		      FROM (SELECT PRODUCT_NO
		                 , PRODUCT_NAME
		                 , PRICE
		                 , DELETE_STATUS
		                 , P.CATEGORY_NO
		                 , P.USER_NO
		                 , P.REGION_NO
		              FROM PRODUCT P
		              JOIN CATEGORY C ON (P.CATEGORY_NO = C.CATEGORY_NO)
		              JOIN USER_INFO U ON (P.USER_NO = U.USER_NO)
		             WHERE P.PRODUCT_STATUS = 'Y'
		             ORDER BY CREATED_AT DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectCategoryList">
		SELECT * 
		  FROM CATEGORY
	</entry>
	<entry key="increaseCount">
		UPDATE PRODUCT
		   SET COUNT = COUNT + 1
		 WHERE PRODUCT_NO = ?
		   AND PRODUCT_STATUS = 'Y'
	</entry>
	<entry key="selectProduct">
		SELECT PRODUCT_NO
		     , CATEGORY_NAME
		     , PRODUCT_NAME
		     , DESCRIPTION
		     , USER_NO
		     , CREATED_AT
		  FROM PRODUCT P
		  LEFT JOIN CATEGORY C ON (P.CATEGORY_NO = C.CATEGORY_NO)
		  JOIN MEMBER M ON (P.USER_NO = M.USER_NO)
		 WHERE PRODUCT_NO = ?
		   AND P.STATUS = 'Y'
	</entry>
	<entry key="selectImgFile">
		SELECT FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_FILE_NAME
		     , FILE_PATH
		  FROM IMG_FILE
		 WHERE PRODUCT_NO = ?
	</entry>
</properties>