
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-page-9V2 {
  width: 100%;
  height: 316.6889rem;
  overflow: hidden;
  position: relative;
}
.about-page-9V2 .about-page-5da {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J {
  box-sizing: border-box;
  padding: 0.583rem 6.4rem 0.583rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .logo-png-1-6Yg {
  margin-right: 65.2rem;
  width: 18rem;
  height: 6.0335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi {
  margin: 0.767rem 0rem 0.767rem 0rem;
  height: calc(100% - 1.5335rem);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .column-MUc {
  margin: 1.05rem 3.2rem 1.05rem 0rem;
  height: calc(100% - 2.1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .column-MUc .home-G5n {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .column-MUc .product-PAQ {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .column-MUc .about-vRE {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .column-MUc .contact-TRA {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .button-zfz {
  box-sizing: border-box;
  padding: 1.05rem 3.2rem 1.05rem 3.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #252525;
  border-radius: 10rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .button-zfz .cart-jNg {
  margin-right: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .navbar-5-d9J .container-Yn4 .column-dHi .button-zfz .item-0-dyr {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #f47726;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .header-30-L7a {
  box-sizing: border-box;
  padding: 11.2rem 33.55rem;
  width: 100%;
  height: 43.6rem;
  overflow: hidden;
  position: relative;
  background-color: #f6e6cd;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/header-30-bg-GVn.png');
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .header-30-L7a .content-4ZN {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-page-9V2 .about-page-5da .header-30-L7a .content-4ZN .describe-what-makes-your-company-unique-2FJ {
  margin-bottom: 2.3rem;
  max-width: 76.9rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .header-30-L7a .content-4ZN .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-7nY {
  max-width: 74.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .layout-1-xYG {
  box-sizing: border-box;
  padding: 11.2rem 6.4rem;
  width: 100%;
  height: 86.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .layout-1-xYG .content-J6L {
  margin: 7.5rem 8rem 7.8rem 0rem;
  height: calc(100% - 15.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .layout-1-xYG .content-J6L .tryme-tradings-fzc-q6G {
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.168rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .layout-1-xYG .content-J6L .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-varius-faucibus-massa-sollicitudin-amet-augue-nibh-metus-a-semper-purus-mauris-duis-lorem-eu-neque-tristique-quis-duis-nibh-scelerisque-ac-adipiscing-velit-non-nulla-in-amet-pellentesque-sit-turpis-pretium-eget-maecenas-vestibulum-dolor-mattis-consectetur-eget-commodo-vitae-amet-pellentesque-sit-pulvinar-lorem-mi-a-euismod-risus-rhoncus-elementum-ullamcorper-nec-habitasse-vulputate-eget-dictum-quis-est-sed-egestas-tellus-a-lectus-quam-ullamcorper-in-fringilla-arcu-aliquet-fames-arculacinia-eget-faucibus-urna-nam-risus-nec-elementum-cras-porta-sed-elementum-sed-dolor-purus-dolor-dui-ut-dictum-nulla-pulvinar-vulputate-sit-sagittis-in-eleifend-dignissim-natoque-mauris-cras-molestie-velit-maecenas-eget-adipiscing-quisque-viverra-lectus-arcu-tincidunt-ultrices-pellentesque-w9J {
  max-width: 61.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .layout-1-xYG .placeholder-image-7rQ {
  width: 61.6rem;
  height: 64rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk {
  box-sizing: border-box;
  padding: 11.2rem 0rem 11.2rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .section-title-AJt {
  margin-bottom: 8rem;
  width: 51rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .section-title-AJt .our-team-Wde {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.about-page-9V2 .about-page-5da .team-9-dpk .section-title-AJt .content-dyA {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-page-9V2 .about-page-5da .team-9-dpk .section-title-AJt .content-dyA .introduce-your-team-zHv {
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .section-title-AJt .content-dyA .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-hy2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 {
  width: 171.3rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 29.7rem;
  display: flex;
  column-gap: 7.9rem;
  align-items: center;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S {
  width: 36.9rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .placeholder-image-Ft4 {
  width: 8rem;
  height: 8rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-LmE.png');
  border-radius: 10rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .content-y3N {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .content-y3N .title-j2Y {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .content-y3N .title-j2Y .full-name-gTa {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .content-y3N .title-j2Y .job-title-pJt {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .content-y3N .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-Z1a {
  max-width: 36.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .social-icons-S5N {
  box-sizing: border-box;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .social-icons-S5N .icon-linkedin-BYk {
  margin-right: 1.9999rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .social-icons-S5N .icon-twitter-iYg {
  margin: 0.03rem 2rem 0rem 0rem;
  width: 1.8rem;
  height: 1.53rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-i7S .social-icons-S5N .icon-dribble-SUg {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 {
  width: 36.9rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .placeholder-image-Xm2 {
  width: 8rem;
  height: 8rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/placeholder-image-bg.png');
  border-radius: 10rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .content-rHW {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .content-rHW .title-cXa {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .content-rHW .title-cXa .full-name-aDW {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .content-rHW .title-cXa .job-title-v2U {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .content-rHW .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-SmW {
  max-width: 36.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .social-icons-8uE {
  box-sizing: border-box;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .social-icons-8uE .icon-linkedin-t7i {
  margin-right: 1.9999rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .social-icons-8uE .icon-twitter-1y2 {
  margin: 0.03rem 2rem 0rem 0rem;
  width: 1.8rem;
  height: 1.53rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-P92 .social-icons-8uE .icon-dribble-392 {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa {
  width: 36.9rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .placeholder-image-X4C {
  width: 8rem;
  height: 8rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-MAQ.png');
  border-radius: 10rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .content-cbS {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .content-cbS .title-LnL {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .content-cbS .title-LnL .full-name-Tc4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .content-cbS .title-LnL .job-title-AmN {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .content-cbS .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-JMn {
  max-width: 36.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .social-icons-Pe8 {
  box-sizing: border-box;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .social-icons-Pe8 .icon-linkedin-YG8 {
  margin-right: 1.9999rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .social-icons-Pe8 .icon-twitter-HDi {
  margin: 0.03rem 2rem 0rem 0rem;
  width: 1.8rem;
  height: 1.53rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-yHa .social-icons-Pe8 .icon-dribble-1fW {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x {
  width: 36.9rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .placeholder-image-hHS {
  width: 8rem;
  height: 8rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-ock.png');
  border-radius: 10rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .content-Czt {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .content-Czt .title-yEx {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .content-Czt .title-yEx .full-name-L5W {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .content-Czt .title-yEx .job-title-sLL {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .content-Czt .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-QbA {
  max-width: 36.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-yQk .card-x4x .social-icons-6Tz {
  width: 10rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi {
  margin-right: 40.1rem;
  width: calc(100% - 40.1rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G {
  margin: 2rem 112.9rem 2rem 0rem;
  height: calc(100% - 4rem);
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G .dot-5qi {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #f47726;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G .dot-poJ {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffb382;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G .dot-mTe {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffb382;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G .dot-JiU {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffb382;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-dots-a8G .dot-Spg {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffb382;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-buttons-C3A {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-buttons-C3A .button-x2L {
  margin-right: 1.5rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .team-9-dpk .content-cq6 .content-dyi .slider-buttons-C3A .button-tAt {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL {
  box-sizing: border-box;
  padding: 11.2rem 33.6rem;
  width: 100%;
  height: 53.0889rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 {
  margin: 0rem 32.6rem 3.2rem 32.6rem;
  width: calc(100% - 65.2rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 .vector-bzQ {
  width: 2rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 .vector-Lwz {
  width: 2rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 .vector-tyW {
  width: 2rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 .vector-3Lc {
  width: 2rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .stars-624 .vector-QBA {
  width: 2rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .a-customer-testimonial-that-highlights-features-and-answers-potential-customer-doubts-about-your-product-or-service-showcase-testimonials-from-a-similar-demographic-to-your-customers-9uS {
  margin-bottom: 3.3rem;
  max-width: 77rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  letter-spacing: 0.084rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda {
  margin: 0 11.65rem;
  width: calc(100% - 23.3rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW {
  box-sizing: border-box;
  padding: 1.35rem 1.9rem 1.35rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW .avatar-image-EZW {
  width: 5.6rem;
  height: 5.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/avatar-image-bg-d12.png');
  border-radius: 2.8rem;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW .avatar-content-Mu2 {
  margin: 0.65rem 0;
  height: calc(100% - 1.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW .avatar-content-Mu2 .name-surname-u9r {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW .avatar-content-Mu2 .position-company-name-qJQ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .auto-group-qoej-WdW .divider-xtp {
  width: 0.1rem;
  height: 6.1rem;
  background-color: #f47726;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .testimonial-4-PtL .content-8b2 .avatar-yda .logo-png-2-Jhn {
  width: 22.2rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg {
  box-sizing: border-box;
  padding: 8rem 7.9rem 8rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 {
  margin: 0rem 47.55rem 6.4rem 47.45rem;
  width: calc(100% - 95rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .logo-VnG {
  margin: 0rem 4.05rem 3.2rem 4.05rem;
  width: calc(100% - 8.1rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .logo-VnG .logo-png-1-Rfv {
  width: 25rem;
  height: 8.4rem;
  object-fit: cover;
  vertical-align: top;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .links-NLG {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .links-NLG .home-Vfn {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .links-NLG .products-DLt {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .links-NLG .about-ja8 {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .content-AV6 .links-NLG .contact-fCt {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .divider-ww6 {
  margin-bottom: 3.2rem;
  width: 128rem;
  height: 0.1rem;
  background-color: #252525;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS .relume-all-right-reserved-EvC {
  margin-right: 68rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS .footer-links-Yvt {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS .footer-links-Yvt .privacy-policy-hHz {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS .footer-links-Yvt .terms-of-service-Rjn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-page-9V2 .about-page-5da .footer-12-2tg .credits-zW4 .row-tbS .footer-links-Yvt .cookies-settings-MtL {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
