
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-category-page-nfz {
  width: 100%;
  height: 232.5rem;
  overflow: hidden;
  position: relative;
}
.main-category-page-nfz .main-categries-page-iZe {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 {
  box-sizing: border-box;
  padding: 0.583rem 6.4rem 0.583rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .logo-png-1-vfi {
  margin-right: 65.2rem;
  width: 18rem;
  height: 6.0335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL {
  margin: 0.767rem 0rem 0.767rem 0rem;
  height: calc(100% - 1.5335rem);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .column-yP6 {
  margin: 1.05rem 3.2rem 1.05rem 0rem;
  height: calc(100% - 2.1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .column-yP6 .home-Uak {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .column-yP6 .product-bfN {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .column-yP6 .about-wUL {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .column-yP6 .contact-5aY {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .button-d6G {
  box-sizing: border-box;
  padding: 1.05rem 3.2rem 1.05rem 3.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #252525;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .button-d6G .cart-Abz {
  margin-right: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .navbar-2-rA4 .container-yEg .column-3kL .button-d6G .item-0-gKS {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #f47726;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 {
  box-sizing: border-box;
  padding: 11.2rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .section-title-twJ {
  margin: 0rem 41rem 8rem 41rem;
  width: calc(100% - 82rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .section-title-twJ .main-category-ccQ {
  margin: 0rem 0rem 1.6rem 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .section-title-twJ .content-jS8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .section-title-twJ .content-jS8 .heading-goes-here-VgC {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .section-title-twJ .content-jS8 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ogt {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 {
  width: 100%;
  height: 84.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv {
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding-top: 12.9rem;
  width: 64rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU {
  margin: 0rem 4.8rem 12.9rem 4.8rem;
  width: calc(100% - 9.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU .content-top-jDA {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU .content-top-jDA .main-category-UgY {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU .content-top-jDA .main-category-zun {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU .content-top-jDA .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-vHe {
  max-width: 54.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .content-zWU .button-zoJ {
  width: 10.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .card-4Mv .placeholder-image-544 {
  width: 64rem;
  height: 36rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx {
  width: 64rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 40.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx {
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 30.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA {
  margin: 0rem 5.8rem 2.4rem 2.4rem;
  width: calc(100% - 8.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA .content-top-wEg {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA .content-top-wEg .main-category-55z {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA .content-top-wEg .main-category-c5v {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: 0.024rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA .content-top-wEg .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-wP6 {
  max-width: 22.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .content-ouA .button-T6Y {
  width: 10.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-fnx .placeholder-image-8Ta {
  width: 30.4rem;
  height: 17.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k {
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 30.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE {
  margin: 0rem 5.8rem 2.4rem 2.4rem;
  width: calc(100% - 8.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE .content-top-KY4 {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE .content-top-KY4 .main-category-GCQ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE .content-top-KY4 .main-category-19z {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: 0.024rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE .content-top-KY4 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-YQp {
  max-width: 22.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .content-nHE .button-rwJ {
  width: 10.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-KUC .card-34k .placeholder-image-YZE {
  width: 30.4rem;
  height: 17.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec {
  width: 100%;
  height: 40.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 {
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 30.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU {
  margin: 0rem 5.8rem 2.4rem 2.4rem;
  width: calc(100% - 8.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU .content-top-gJ4 {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU .content-top-gJ4 .main-category-8fr {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU .content-top-gJ4 .main-category-rLx {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: 0.024rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU .content-top-gJ4 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Be8 {
  max-width: 22.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .content-wLU .button-toS {
  width: 10.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-zw2 .placeholder-image-Nic {
  width: 30.4rem;
  height: 17.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 {
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 30.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 {
  margin: 0rem 5.8rem 2.4rem 2.4rem;
  width: calc(100% - 8.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 .content-top-xRv {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 .content-top-xRv .main-category-JVn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 .content-top-xRv .main-category-2wa {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: 0.024rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 .content-top-xRv .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-NkY {
  max-width: 22.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .content-Dz8 .button-hH2 {
  width: 10.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .layout-375-Zu2 .row-iJ4 .column-NYx .row-Sec .card-5N8 .placeholder-image-nZN {
  width: 30.4rem;
  height: 17.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 {
  box-sizing: border-box;
  padding: 11.2rem 35.2rem;
  width: 100%;
  height: 54rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .content-ZTe {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .content-ZTe .medium-length-heading-goes-here-KSp {
  margin-bottom: 2.4rem;
  max-width: 71.5rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .content-ZTe .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-dTW {
  max-width: 73.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY {
  margin: 0 11.15rem;
  width: calc(100% - 22.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .form-etQ {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .form-etQ .text-input-CQ8 {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 36.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #252525;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .form-etQ .button-U6k {
  width: 13rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8c8c8c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx-sub-0 {
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #8c8c8c;
  font-family: Roboto, 'Source Sans Pro';
}
.main-category-page-nfz .main-categries-page-iZe .cta-28-s52 .content-bmi .actions-JpY .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-kpx-sub-2 {
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa {
  box-sizing: border-box;
  padding: 8rem 7.9rem 8rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp {
  margin: 0rem 47.55rem 6.4rem 47.45rem;
  width: calc(100% - 95rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .logo-oaG {
  margin: 0rem 4.05rem 3.2rem 4.05rem;
  width: calc(100% - 8.1rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .logo-oaG .logo-png-1-wRa {
  width: 25rem;
  height: 8.4rem;
  object-fit: cover;
  vertical-align: top;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .links-gPA {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .links-gPA .home-3Di {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .links-gPA .products-y7N {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .links-gPA .about-6xg {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .content-sAp .links-gPA .contact-EZ6 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .divider-Xo6 {
  margin-bottom: 3.2rem;
  width: 128rem;
  height: 0.1rem;
  background-color: #252525;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ .relume-all-right-reserved-dbE {
  margin-right: 68rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ .footer-links-Yy6 {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ .footer-links-Yy6 .privacy-policy-JSU {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ .footer-links-Yy6 .terms-of-service-dUk {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-category-page-nfz .main-categries-page-iZe .footer-9-Lwa .credits-N9W .row-fuJ .footer-links-Yy6 .cookies-settings-ZtC {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
