
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sub-category-page-qwN {
  width: 100%;
  height: 460.5rem;
  overflow: hidden;
  position: relative;
}
.sub-category-page-qwN .sub-categories-page-mKE {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW {
  box-sizing: border-box;
  padding: 0.583rem 6.4rem 0.583rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .logo-png-1-B84 {
  margin-right: 65.2rem;
  width: 18rem;
  height: 6.0335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW {
  margin: 0.767rem 0rem 0.767rem 0rem;
  height: calc(100% - 1.5335rem);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .column-pB2 {
  margin: 1.05rem 3.2rem 1.05rem 0rem;
  height: calc(100% - 2.1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .column-pB2 .home-LQG {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .column-pB2 .product-45N {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .column-pB2 .about-Bvg {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .column-pB2 .contact-vdN {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .button-f5A {
  box-sizing: border-box;
  padding: 1.05rem 3.2rem 1.05rem 3.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #252525;
  border-radius: 10rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .button-f5A .cart-zNL {
  margin-right: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .navbar-3-6MW .container-R8t .column-gqW .button-f5A .item-0-7C4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #f47726;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .gallery-11-o4t {
  box-sizing: border-box;
  padding: 11.2rem 46.55rem 12.2rem 46.55rem;
  width: 100%;
  height: 34.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .gallery-11-o4t .section-title-KZ2 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .gallery-11-o4t .section-title-KZ2 .main-category-name-5YC {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .gallery-11-o4t .section-title-KZ2 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Br8 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .title-14U {
  margin-bottom: 3.7rem;
  width: 131.2rem;
  height: 14.1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .title-14U .section-title-M8L {
  width: 48.4rem;
  height: 100%;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .title-14U .section-title-M8L .main-category-name-uQk {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .title-14U .section-title-M8L .content-31A {
  width: 100%;
  height: 10.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .placeholder-image-afJ {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Goa.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .content-gCY {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .content-gCY .header-d7n {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .content-gCY .header-d7n .product-name-Nr4 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .content-gCY .header-d7n .variant-v6t {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-S3J .content-gCY .item-5500-Fex {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .placeholder-image-k5v {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-WrL.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .content-46c {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .content-46c .header-1nY {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .content-46c .header-1nY .product-name-AfS {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .content-46c .header-1nY .variant-hvG {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-yqr .content-46c .item-5500-dZ2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .placeholder-image-V5S {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Zsv.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .content-a6t {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .content-a6t .header-jEg {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .content-a6t .header-jEg .product-name-HGC {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .content-a6t .header-jEg .variant-1T6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-wJp .content-a6t .item-5500-Yhv {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .placeholder-image-SHW {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-hA8.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .content-wVA {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .content-wVA .header-Jac {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .content-wVA .header-Jac .product-name-fAG {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .content-wVA .header-Jac .variant-BeQ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-8-gH6 .content-Yic .content-JSt .product-gJL .content-wVA .item-5500-i8Y {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .title-jZS {
  margin-bottom: 3.7rem;
  width: 131.2rem;
  height: 14.1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .title-jZS .section-title-H5A {
  width: 48.4rem;
  height: 100%;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .title-jZS .section-title-H5A .main-category-name-SCx {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .title-jZS .section-title-H5A .content-xwz {
  width: 100%;
  height: 10.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .placeholder-image-psi {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-o9S.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .content-X1S {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .content-X1S .header-Gzc {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .content-X1S .header-Gzc .product-name-S8Q {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .content-X1S .header-Gzc .variant-yPE {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-MjE .content-X1S .item-5500-v3a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .placeholder-image-DHa {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-5eY.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .content-89e {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .content-89e .header-ggx {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .content-89e .header-ggx .product-name-Sg8 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .content-89e .header-ggx .variant-zBr {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-rC8 .content-89e .item-5500-jQL {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .placeholder-image-RHA {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-bWG.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .content-vzc {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .content-vzc .header-HqA {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .content-vzc .header-HqA .product-name-rNU {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .content-vzc .header-HqA .variant-BvY {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-f36 .content-vzc .item-5500-8at {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .placeholder-image-2RN {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-2zc.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .content-Y8p {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .content-Y8p .header-J7z {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .content-Y8p .header-J7z .product-name-FZ2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .content-Y8p .header-J7z .variant-b76 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-12-QXA .content-g7J .content-Rag .product-4UY .content-Y8p .item-5500-8cp {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .title-mQt {
  margin-bottom: 3.7rem;
  width: 131.2rem;
  height: 14.1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .title-mQt .section-title-tkQ {
  width: 48.4rem;
  height: 100%;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .title-mQt .section-title-tkQ .main-category-name-dCC {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .title-mQt .section-title-tkQ .content-9RS {
  width: 100%;
  height: 10.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .placeholder-image-XB6 {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Ru2.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .content-RnG {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .content-RnG .header-ncp {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .content-RnG .header-ncp .product-name-x1W {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .content-RnG .header-ncp .variant-HZa {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-MXW .content-RnG .item-5500-RQt {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .placeholder-image-i96 {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-v9N.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .content-QGp {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .content-QGp .header-kba {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .content-QGp .header-kba .product-name-uDa {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .content-QGp .header-kba .variant-EWk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-9rg .content-QGp .item-5500-aKi {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .placeholder-image-GCY {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-EG8.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .content-NmN {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .content-NmN .header-91S {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .content-NmN .header-91S .product-name-Vqz {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .content-NmN .header-91S .variant-qex {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-uct .content-NmN .item-5500-acY {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .placeholder-image-H1A {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-8Br.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .content-nCp {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .content-nCp .header-YSt {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .content-nCp .header-YSt .product-name-6UQ {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .content-nCp .header-YSt .variant-qRz {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-13-qn8 .content-4YQ .content-DgC .product-KKE .content-nCp .item-5500-aPa {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .title-q4c {
  margin-bottom: 3.7rem;
  width: 131.2rem;
  height: 14.1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .title-q4c .section-title-P68 {
  width: 48.4rem;
  height: 100%;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .title-q4c .section-title-P68 .main-category-name-jvg {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .title-q4c .section-title-P68 .content-fZS {
  width: 100%;
  height: 10.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .placeholder-image-d8t {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-PHr.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .content-w9a {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .content-w9a .header-u6Q {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .content-w9a .header-u6Q .product-name-f5a {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .content-w9a .header-u6Q .variant-ztY {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-fhr .content-w9a .item-5500-YQG {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .placeholder-image-rA4 {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-mxt.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .content-xTz {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .content-xTz .header-KZS {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .content-xTz .header-KZS .product-name-GzU {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .content-xTz .header-KZS .variant-RMa {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-sxL .content-xTz .item-5500-AKA {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .placeholder-image-rhn {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-zN4.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .content-ZcC {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .content-ZcC .header-izt {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .content-ZcC .header-izt .product-name-t8g {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .content-ZcC .header-izt .variant-ECY {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-hZz .content-ZcC .item-5500-yR2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .placeholder-image-Ucg {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-yvx.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .content-nNU {
  width: 12.9rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .content-nNU .header-9Tv {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .content-nNU .header-9Tv .product-name-WJU {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .content-nNU .header-9Tv .variant-3ZJ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .product-14-tv4 .content-PEY .content-jZJ .product-Wfr .content-nNU .item-5500-b52 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc {
  box-sizing: border-box;
  padding: 11.2rem 35.2rem;
  width: 100%;
  height: 54rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .content-bz8 {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .content-bz8 .medium-length-heading-goes-here-ZRA {
  margin-bottom: 2.4rem;
  max-width: 71.5rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.048rem;
  color: #252525;
  font-family: Russo One, 'Source Sans Pro';
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .content-bz8 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-rv4 {
  max-width: 73.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.063rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg {
  margin: 0 11.15rem;
  width: calc(100% - 22.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .form-sqA {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .form-sqA .text-input-q1J {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 36.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #252525;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .form-sqA .button-6C8 {
  width: 13rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #252525;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8c8c8c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-0 {
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #8c8c8c;
  font-family: Roboto, 'Source Sans Pro';
}
.sub-category-page-qwN .sub-categories-page-mKE .cta-29-uLc .content-3Sp .actions-8cg .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-2 {
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr {
  box-sizing: border-box;
  padding: 8rem 7.9rem 8rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e {
  margin: 0rem 47.55rem 6.4rem 47.45rem;
  width: calc(100% - 95rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .logo-1EY {
  margin: 0rem 4.05rem 3.2rem 4.05rem;
  width: calc(100% - 8.1rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .logo-1EY .logo-png-1-8px {
  width: 25rem;
  height: 8.4rem;
  object-fit: cover;
  vertical-align: top;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .links-snY {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .links-snY .home-qDa {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .links-snY .products-krL {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .links-snY .about-HrG {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .content-H3e .links-snY .contact-1XN {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.056rem;
  color: #252525;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .divider-JWU {
  margin-bottom: 3.2rem;
  width: 128rem;
  height: 0.1rem;
  background-color: #252525;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp .relume-all-right-reserved-zu6 {
  margin-right: 68rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp .footer-links-X8L {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp .footer-links-X8L .privacy-policy-fVS {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp .footer-links-X8L .terms-of-service-oLk {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-category-page-qwN .sub-categories-page-mKE .footer-10-Ybr .credits-YGQ .row-FAp .footer-links-X8L .cookies-settings-jkC {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.049rem;
  color: #000000;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
