
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-dd2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .navbar-3-yB6 {
  box-sizing: border-box;
  padding: 1.6rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 -0.1rem 0 #000000);
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-Ecp {
  margin-right: 60.7rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC {
  margin: 0.8rem 3.2rem 0.8rem 0rem;
  height: calc(100% - 1.6rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .link-one-3qA {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .link-two-BRa {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .link-three-igQ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .nav-link-dropdown-Tdz {
  box-sizing: border-box;
  padding-right: 0.5702rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .nav-link-dropdown-Tdz .link-four-oSx {
  margin-right: 0.9703rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-8iC .nav-link-dropdown-Tdz .chevron-down-wJG {
  margin-top: 0.053rem;
  width: 1.2595rem;
  height: 0.7125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-sSp {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-sSp .button-EHN {
  margin-right: 1.6rem;
  width: 8.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-dd2 .navbar-3-yB6 .container-5V2 .column-B2G .column-sSp .button-WVn {
  width: 12rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi {
  box-sizing: border-box;
  padding: 11.2rem 6.4rem;
  width: 100%;
  height: 91.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur {
  margin-right: 8rem;
  width: 61.6rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .section-title-SGx {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-7-mRi .content-Hur .section-title-SGx .contact-us-Phz {
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .section-title-SGx .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Kbe {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-QNC {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-QNC .name-N48 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-QNC .text-input-JTa {
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-dVr {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-dVr .email-PV2 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-dVr .text-input-inC {
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 .message-CSU {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 .text-area-L2t {
  box-sizing: border-box;
  padding: 1.2rem 0.2rem 0.276rem 1.2rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 .text-area-L2t .type-your-message-4Ug {
  margin: 0rem 45.1rem 13.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 .text-area-L2t .line-2-NVN {
  margin-bottom: 0.3243rem;
  width: 0.6rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .input-eA4 .text-area-L2t .line-1-hnY {
  width: 0.2rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg {
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .checkbox-n3J {
  margin: 0rem 47rem 4rem 0rem;
  width: calc(100% - 47rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .checkbox-n3J .checkbox-6pg {
  margin: 0.15rem 1.2rem 0.15rem 0rem;
  width: 1.8rem;
  height: calc(100% - 0.3rem);
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .checkbox-n3J .label-bWY {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .checkbox-n3J .label-bWY .label-bWY-sub-0 {
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .checkbox-n3J .label-bWY .label-bWY-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.contact-dd2 .contact-7-mRi .content-Hur .form-3Xe .auto-group-juhd-EGg .button-9Ag {
  width: 9.9rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-dd2 .contact-7-mRi .placeholder-image-EC8 {
  width: 61.6rem;
  height: 69.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r {
  box-sizing: border-box;
  padding: 8rem 6.4rem 8.1rem 6.4rem;
  width: 100%;
  height: 26.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .trusted-by-the-worlds-best-companies-social-proof-to-build-credibility-Tqa {
  margin-right: 25.5rem;
  max-width: 28.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg {
  margin: 2.3rem 0rem 2.2rem 0rem;
  box-sizing: border-box;
  padding: 1.05rem 0.3rem 0.963rem 0.3rem;
  height: calc(100% - 4.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .webflow-black-ev4 {
  margin: 0rem 3.85rem 0.07rem 0rem;
  width: 11.4rem;
  height: 2.8678rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS {
  margin-right: 3.7984rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-KFW {
  margin-right: 1.3828rem;
  width: 3.2287rem;
  height: 3.5875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-rmE {
  margin: 0rem 0.009rem 0.125rem 0rem;
  width: 1.4826rem;
  height: 1.8468rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-zMe {
  margin: 0.369rem 0.178rem 0rem 0rem;
  width: 1.3535rem;
  height: 1.4103rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-Kui {
  margin: 0rem 0.254rem 0.241rem 0rem;
  width: 0.372rem;
  height: 1.9631rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-Tm2 {
  margin: 0.4rem 0.254rem 0rem 0rem;
  width: 1.2604rem;
  height: 1.3793rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-b6Y {
  margin: 0.34rem 0.16rem 0rem 0rem;
  width: 2.0639rem;
  height: 1.3819rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-yhS .vector-vec {
  margin-top: 0.3685rem;
  width: 1.3535rem;
  height: 1.4103rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .webflow-black-TuS {
  margin: 0rem 3.85rem 0.07rem 0rem;
  width: 11.4rem;
  height: 2.8678rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN {
  margin-right: 3.7984rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-umS {
  margin-right: 1.3828rem;
  width: 3.2287rem;
  height: 3.5875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-FqJ {
  margin: 0rem 0.009rem 0.125rem 0rem;
  width: 1.4826rem;
  height: 1.8468rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-Byr {
  margin: 0.369rem 0.178rem 0rem 0rem;
  width: 1.3535rem;
  height: 1.4103rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-KKN {
  margin: 0rem 0.254rem 0.241rem 0rem;
  width: 0.372rem;
  height: 1.9631rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-TRa {
  margin: 0.4rem 0.254rem 0rem 0rem;
  width: 1.2604rem;
  height: 1.3793rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-BsN {
  margin: 0.34rem 0.16rem 0rem 0rem;
  width: 2.0639rem;
  height: 1.3819rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .relume-black-aDN .vector-XRS {
  margin-top: 0.3685rem;
  width: 1.3535rem;
  height: 1.4103rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .logo-2-M1r .content-kpg .webflow-black-fnY {
  margin-bottom: 0.0697rem;
  width: 11.4rem;
  height: 2.8678rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ {
  box-sizing: border-box;
  padding: 11.2rem 6.4rem;
  width: 100%;
  height: 47.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-7Pe {
  box-sizing: border-box;
  padding-top: 0.8001rem;
  width: 30.4rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .icon-email-TiQ {
  margin: 0rem 0rem 3.2rem 0.4rem;
  width: 4rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .contact-info-P6G {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .contact-info-P6G .content-YUx {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .contact-info-P6G .content-YUx .email-h6x {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .contact-info-P6G .content-YUx .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-dWQ {
  max-width: 30.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-7Pe .contact-info-P6G .hellorelumeio-vkQ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-45v {
  box-sizing: border-box;
  padding-top: 0.4rem;
  width: 30.4rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-45v .icon-live-chat-Chv {
  margin: 0rem 0rem 2.8rem 0.4rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-dd2 .contact-22-bRJ .content-45v .contact-info-KnY {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-22-bRJ .content-45v .contact-info-KnY .content-62c {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-45v .contact-info-KnY .content-62c .live-chat-SsA {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-45v .contact-info-KnY .content-62c .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-C5e {
  max-width: 30.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-45v .contact-info-KnY .start-new-chat-ho6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-36G {
  box-sizing: border-box;
  padding-top: 0.5997rem;
  width: 30.4rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-36G .icon-phone-BiG {
  margin: 0rem 0rem 3rem 0.6rem;
  width: 3.6003rem;
  height: 3.6003rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-dd2 .contact-22-bRJ .content-36G .contact-info-WkY {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-22-bRJ .content-36G .contact-info-WkY .content-Gzc {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-36G .contact-info-WkY .content-Gzc .phone-EgY {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-36G .contact-info-WkY .content-Gzc .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-nCG {
  max-width: 30.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-36G .contact-info-WkY .item-1-555-000-0000-goS {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-ot4 {
  box-sizing: border-box;
  padding-top: 0.3999rem;
  width: 30.4rem;
  height: 100%;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .icon-pin-1UL {
  margin: 0rem 0rem 2.8rem 0.951rem;
  width: 2.8973rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .contact-info-8Yx {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .contact-info-8Yx .content-gqN {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .contact-info-8Yx .content-gqN .office-3fv {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .contact-info-8Yx .content-gqN .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-PUt {
  max-width: 30.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-dd2 .contact-22-bRJ .content-ot4 .contact-info-8Yx .sample-st-sydney-nsw-2000-au-V28 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC {
  box-sizing: border-box;
  padding: 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep {
  margin: 0rem 40.75rem 6.4rem 40.85rem;
  width: calc(100% - 81.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .logo-fap {
  margin: 0rem 0.1rem 3.2rem 0rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS .link-one-Lwr {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS .link-two-Bha {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS .link-three-KYt {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS .link-four-f6x {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .content-wep .links-nfS .link-five-CMn {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .divider-5wN {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r .relume-all-right-reserved-PBN {
  margin-right: 73.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r .footer-links-uvQ {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r .footer-links-uvQ .privacy-policy-3Wp {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r .footer-links-uvQ .terms-of-service-NZ6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-dd2 .footer-13-PtC .credits-XQ4 .row-q9r .footer-links-uvQ .cookies-settings-WfJ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
