
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-categories-7m2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.product-categories-7m2 .navbar-3-dzG {
  box-sizing: border-box;
  padding: 1.6rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ugt {
  margin-right: 63.5rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ {
  margin: 0.8rem 3.2rem 0.8rem 0rem;
  height: calc(100% - 1.6rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .link-one-KVi {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .link-two-eXz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .link-three-neC {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .nav-link-dropdown-8i4 {
  box-sizing: border-box;
  padding-right: 0.5703rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .nav-link-dropdown-8i4 .link-four-57W {
  margin-right: 0.9703rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-cLQ .nav-link-dropdown-8i4 .chevron-down-CT2 {
  margin-top: 0.053rem;
  width: 1.2595rem;
  height: 0.7125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-vP2 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-vP2 .button-4k8 {
  margin-right: 1.6rem;
  width: 8.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-categories-7m2 .navbar-3-dzG .container-9hi .column-ePa .column-vP2 .button-9Wg {
  width: 8.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA {
  box-sizing: border-box;
  padding: 11.2rem 6.4rem 13.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .section-title-wSY {
  margin: 0rem 43.45rem 8rem 43.45rem;
  width: calc(100% - 86.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .section-title-wSY .image-gallery-GUp {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .section-title-wSY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-zfi {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ {
  width: 100%;
  height: 64rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .placeholder-image-TpC {
  margin-right: 3.2rem;
  width: 64rem;
  height: 64rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc {
  width: 64rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-kHW {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-kHW .placeholder-image-JZv {
  margin-right: 3.2rem;
  width: 30.4rem;
  height: 30.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-kHW .placeholder-image-EiU {
  width: 30.4rem;
  height: 30.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-As2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-As2 .placeholder-image-Wfz {
  margin-right: 3.2rem;
  width: 30.4rem;
  height: 30.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .gallery-10-cfA .content-JwJ .column-bQc .row-As2 .placeholder-image-qyA {
  width: 30.4rem;
  height: 30.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe {
  box-sizing: border-box;
  padding: 11.2rem 35.3rem;
  width: 100%;
  height: 48.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .content-Tje {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .content-Tje .medium-length-heading-goes-here-csS {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .content-Tje .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-w92 {
  max-width: 70.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL {
  margin: 0 11.05rem;
  width: calc(100% - 22.1rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .form-m84 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .form-m84 .text-input-iJC {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 39.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .form-m84 .button-PQL {
  width: 10.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2 .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2-sub-0 {
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2 .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.product-categories-7m2 .cta-28-AVe .content-WJc .actions-DcL .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2 .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Gj2-sub-2 {
}
.product-categories-7m2 .footer-9-JJL {
  box-sizing: border-box;
  padding: 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg {
  margin: 0rem 40.75rem 6.4rem 40.85rem;
  width: calc(100% - 81.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .logo-mhi {
  margin: 0rem 0.1rem 3.2rem 0rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 .link-one-emW {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 .link-two-ncp {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 .link-three-7uz {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 .link-four-FWQ {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .content-Exg .links-6V6 .link-five-CAk {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .divider-tpG {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr .relume-all-right-reserved-nek {
  margin-right: 73.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr .footer-links-WKr {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr .footer-links-WKr .privacy-policy-Rxc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr .footer-links-WKr .terms-of-service-mma {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-categories-7m2 .footer-9-JJL .credits-LGx .row-dmr .footer-links-WKr .cookies-settings-7Ke {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
