
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-sub-category-page-CRW {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.product-sub-category-page-CRW .navbar-4-JjS {
  box-sizing: border-box;
  padding: 1.6rem 6.4rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-NzC {
  margin-right: 63.5rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt {
  margin: 0.8rem 3.2rem 0.8rem 0rem;
  height: calc(100% - 1.6rem);
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .link-one-mmS {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .link-two-WU8 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .link-three-eqE {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .nav-link-dropdown-bVa {
  box-sizing: border-box;
  padding-right: 0.5703rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .nav-link-dropdown-bVa .link-four-w3e {
  margin-right: 0.9703rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-GJt .nav-link-dropdown-bVa .chevron-down-rRW {
  margin-top: 0.053rem;
  width: 1.2595rem;
  height: 0.7125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-Nek {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-Nek .button-vgG {
  margin-right: 1.6rem;
  width: 8.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .navbar-4-JjS .container-ENC .column-6vC .column-Nek .button-ok4 {
  width: 8.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .gallery-11-GtY {
  box-sizing: border-box;
  padding: 11.2rem 49.25rem 12.2rem 49.25rem;
  width: 100%;
  height: 34.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .gallery-11-GtY .section-title-bA8 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .gallery-11-GtY .section-title-bA8 .image-gallery-9SY {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .gallery-11-GtY .section-title-bA8 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Ty2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .title-uKE {
  margin: 0rem 6.4rem 3.7rem 0rem;
  width: calc(100% - 6.4rem);
  height: 10.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .title-uKE .section-title-EMW {
  margin-right: 76rem;
  width: 44.8rem;
  height: 100%;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .title-uKE .section-title-EMW .content-NyW {
  width: 100%;
  height: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-8-myi .title-uKE .button-i1n {
  margin-top: 1rem;
  width: 10.4rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .placeholder-image-QHv {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-tJt.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .content-6Re {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .content-6Re .header-ei4 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .content-6Re .header-ei4 .product-name-c96 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .content-6Re .header-ei4 .variant-9Pv {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-eZe .content-6Re .item-55-6KA {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .placeholder-image-bFv {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-UBJ.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .content-JRE {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .content-JRE .header-fWg {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .content-JRE .header-fWg .product-name-DYC {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .content-JRE .header-fWg .variant-ko2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-RsE .content-JRE .item-55-uA8 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .placeholder-image-boe {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-NBz.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .content-7GC {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .content-7GC .header-Get {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .content-7GC .header-Get .product-name-pwJ {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .content-7GC .header-Get .variant-Nhv {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-qpU .content-7GC .item-55-XKv {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .placeholder-image-Rw6 {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-9hA.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .content-wuS {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .content-wuS .header-i9W {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .content-wuS .header-i9W .product-name-U8g {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .content-wuS .header-i9W .variant-Bon {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-8-myi .content-yTW .content-8LQ .product-s8t .content-wuS .item-55-8U8 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-9-qtL {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .title-aL8 {
  margin: 0rem 6.4rem 3.7rem 0rem;
  width: calc(100% - 6.4rem);
  height: 10.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .title-aL8 .section-title-u7W {
  margin-right: 76rem;
  width: 44.8rem;
  height: 100%;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .title-aL8 .section-title-u7W .content-FSG {
  width: 100%;
  height: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-9-qtL .title-aL8 .button-PHa {
  margin-top: 1rem;
  width: 10.4rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .placeholder-image-7Mz {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-7Sp.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .content-1yA {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .content-1yA .header-Ar4 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .content-1yA .header-Ar4 .product-name-vaL {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .content-1yA .header-Ar4 .variant-3ur {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-YZn .content-1yA .item-55-oPE {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .placeholder-image-WHe {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Fdz.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .content-2Fz {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .content-2Fz .header-ywv {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .content-2Fz .header-ywv .product-name-jw6 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .content-2Fz .header-ywv .variant-5zx {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-k3a .content-2Fz .item-55-dWg {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .placeholder-image-8yE {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-L7A.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .content-46C {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .content-46C .header-p5N {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .content-46C .header-p5N .product-name-a4Y {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .content-46C .header-p5N .variant-K28 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-msn .content-46C .item-55-Te8 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .placeholder-image-NFJ {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-ggg.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .content-tDe {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .content-tDe .header-Skx {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .content-tDe .header-Skx .product-name-QSt {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .content-tDe .header-Skx .variant-9QU {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-9-qtL .content-4uW .content-pNt .product-Crc .content-tDe .item-55-VjE {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-10-RMz {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .title-9on {
  margin: 0rem 6.4rem 3.7rem 0rem;
  width: calc(100% - 6.4rem);
  height: 10.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .title-9on .section-title-5SY {
  margin-right: 76rem;
  width: 44.8rem;
  height: 100%;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .title-9on .section-title-5SY .content-2cg {
  width: 100%;
  height: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-10-RMz .title-9on .button-Mur {
  margin-top: 1rem;
  width: 10.4rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .placeholder-image-VPn {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-g6t.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .content-QWk {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .content-QWk .header-mMJ {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .content-QWk .header-mMJ .product-name-Ktc {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .content-QWk .header-mMJ .variant-UmW {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-j9i .content-QWk .item-55-22L {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .placeholder-image-tqE {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-TD2.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .content-19A {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .content-19A .header-xq6 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .content-19A .header-xq6 .product-name-7xt {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .content-19A .header-xq6 .variant-fDi {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-ZY4 .content-19A .item-55-QSC {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .placeholder-image-hRJ {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Tbe.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .content-Qac {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .content-Qac .header-ZyJ {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .content-Qac .header-ZyJ .product-name-vor {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .content-Qac .header-ZyJ .variant-sj6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-8sz .content-Qac .item-55-26C {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .placeholder-image-iji {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-QFA.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .content-2kQ {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .content-2kQ .header-zSL {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .content-2kQ .header-zSL .product-name-x8G {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .content-2kQ .header-zSL .variant-HwE {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-10-RMz .content-ePA .content-zhv .product-m3n .content-2kQ .item-55-e16 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-11-Mw6 {
  box-sizing: border-box;
  padding: 11.2rem 0rem 1.6rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .title-6Nt {
  margin: 0rem 6.4rem 3.7rem 0rem;
  width: calc(100% - 6.4rem);
  height: 10.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .title-6Nt .section-title-Rg4 {
  margin-right: 76rem;
  width: 44.8rem;
  height: 100%;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .title-6Nt .section-title-Rg4 .content-yha {
  width: 100%;
  height: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-11-Mw6 .title-6Nt .button-Jzk {
  margin-top: 1rem;
  width: 10.4rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA {
  width: 164.8rem;
  height: 50.2rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW {
  box-sizing: border-box;
  padding-right: 33.6rem;
  width: 100%;
  height: 40.6rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .placeholder-image-Rhz {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-Pjv.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .content-wRS {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .content-wRS .header-Vxk {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .content-wRS .header-Vxk .product-name-f6Y {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .content-wRS .header-Vxk .variant-oCk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-TmA .content-wRS .item-55-LyN {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .placeholder-image-ez4 {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-yfe.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .content-AxQ {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .content-AxQ .header-LM6 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .content-AxQ .header-LM6 .product-name-srp {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .content-AxQ .header-LM6 .variant-2Up {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-Hdi .content-AxQ .item-55-ZzY {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .placeholder-image-gJU {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-LPA.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .content-QEU {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .content-QEU .header-mKv {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .content-QEU .header-mKv .product-name-vTi {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .content-QEU .header-mKv .variant-GXa {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-7WG .content-QEU .item-55-1zx {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .placeholder-image-L1e {
  margin-bottom: 1.6rem;
  width: 30.4rem;
  height: 30.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/placeholder-image-3yi.png');
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .content-qyz {
  width: 11.4rem;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .content-qyz .header-cE4 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .content-qyz .header-cE4 .product-name-MSY {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .content-qyz .header-cE4 .variant-hWQ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .product-11-Mw6 .content-bDA .content-XsW .product-xvC .content-qyz .item-55-Sit {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-sub-category-page-CRW .cta-29-NMe {
  box-sizing: border-box;
  padding: 11.2rem 35.3rem;
  width: 100%;
  height: 48.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .content-U9n {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .content-U9n .medium-length-heading-goes-here-dHa {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .content-U9n .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-YfS {
  max-width: 70.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U {
  margin: 0 11.05rem;
  width: calc(100% - 22.1rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .form-a6L {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .form-a6L .text-input-Wkg {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 39.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .form-a6L .button-Q5N {
  width: 10.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-0 {
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.product-sub-category-page-CRW .cta-29-NMe .content-7KE .actions-E2U .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-2 {
}
.product-sub-category-page-CRW .footer-10-JCg {
  box-sizing: border-box;
  padding: 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 {
  margin: 0rem 40.75rem 6.4rem 40.85rem;
  width: calc(100% - 81.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .logo-mrx {
  margin: 0rem 0.1rem 3.2rem 0rem;
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp .link-one-FGL {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp .link-two-BQt {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp .link-three-Wxx {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp .link-four-Sbi {
  margin-right: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .content-Es2 .links-hEp .link-five-z7S {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .divider-5ua {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n {
  width: 100%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n .relume-all-right-reserved-BBv {
  margin-right: 73.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n .footer-links-75a {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n .footer-links-75a .privacy-policy-erC {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n .footer-links-75a .terms-of-service-Pon {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-sub-category-page-CRW .footer-10-JCg .credits-KvQ .row-E1n .footer-links-75a .cookies-settings-YAt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
