
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.thumbnail-post-B7v {
  background-position: center;
  background-image: url('REPLACE_IMAGE:b72158a4be04eb38ab84c073172afc32c3a7c366');
  height: 120rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;

  .modern-ecommerce-desktop-website-VuJ {
    width: 40.1rem;
    height: 21.6rem;
    left: 9.4rem;
    top: 2rem;
    text-align: center;
    font-weight: 400;
    color: #000000;
    position: absolute;
    font-size: 4.8rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .single-product-page-1-1-NCQ {
    position: absolute;
    left: 0;
    top: 32.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 84.1rem;
    height: 151.8rem;
  }
  .home-page-1-1-sur {
    left: 60.9rem;
    top: 17.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 99.1rem;
    height: 305.4rem;
    position: absolute;
  }
}
