/***** common 공통 속성들 *****/
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

.button-container button {
    margin-left: 5px;
}
  
#outer {
    width: 1000px;
    position: absolute;
    top: 0;
    left: 0;
}

#center {
    font-family: 'Gamja Flower', cursive;
    width: 100%;
    padding: 0 15%;
}

.black {
    color: black;
}

.underline-none {
    text-decoration: none;
}

.underline-none:hover {
    text-decoration: underline;
    color: black;
}

.boardtitle {
    margin-top: 3px;
    margin-bottom: 3px;
}

.centertitle {
    color: black;
    margin-top: 30px;
    margin-bottom: 0px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

#board-info {
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬 */
}

#board-date {
    margin-left: auto;
    /* 나머지 공간을 우측으로 배치 */
}

#board-content {
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 3px;
}

#bestdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.bestlist-area {
    margin-top: 20px;
    margin-bottom: 0px;
}

.bestlist-area1 {
    float: left;
    width: 50%;
    margin-right: 1%;
}

.bestlist-area2 {
    width: 50%;
    margin-left: 1%;

}

.bestlist-area td:nth-child(1) {
    background-color: lightgray;
    text-align: center;
}

.bestlist-area td:nth-child(2) {
    padding-left: 5px;
}



.bestlist-area>tbody>tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

#listhead {
    margin-top: 20px;
}

.list-area {
    margin-bottom: 10px;
    text-align: center;
}

.list-area th {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.list-area td {
    border-bottom: 1px solid gray;
}

.list-area>tbody>tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.category {
    float: left;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-container input {
    margin-right: 5px;
}

.list-area {
    margin-top: 10px;
}

.list-area th {
    background-color: lightgray;
}


/********** boardDetailView.html **********/

#recommend {
    margin-top: 10px;
}

i.fas.fa-user {
    margin-top: 5px;
}

pre {
    font-family: 'Gamja Flower', cursive;
    font-size: 16px;
    line-height: 1.5;
  }

.btn-margin {
    margin-left: 5px;
}

/* 댓글부분 */
.comment-date {
    margin-left: 10px;
    font-size: 12px;
}

#comment-title {
    margin-right: 5px;
}

.comment {
    border-bottom: 1px solid lightgray;
}

p {
    margin-bottom: 5px;
}
  


/***** 좋아요버튼 호버 시 빙글뱅글 *****/
.clear-button {
    border : none;
    background-color: transparent;
}

#like:hover i,
#dislike:hover i {
    animation: fa-spin 1s infinite linear;
  }
  
  @keyframes fa-spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  