/***** common 공통 속성들 *****/
.paging-area {
    display: flex;
    justify-content: center;
    margin-top : 30px;
    margin-bottom: 10px;
}

.paging-area button {
    margin-left: 5px;
}

#outer {
    width : 1200px;
    margin: auto;
}

#center {
    font-family: 'Gowun Dodum', sans-serif;
    width: 1050px;
    padding: 0 15%;
    margin: auto;
}

.black {
    color: black;
}

.underline-none {
    text-decoration: none;
}

.underline-none:hover {
    text-decoration: underline;
    color: black;
}

.boardtitle {
    margin-top: 3px;
    margin-bottom: 3px;
}

#centertitle {
    color: black;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 35px;
}
#centertitle a {
    color: black;
    text-decoration: none;
}
#centertitle a:hover {
    color: #6ad4fd;
    text-decoration: none;
}

#board-info {
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬 */
}

#board-date {
    margin-left: auto;
    /* 나머지 공간을 우측으로 배치 */
}

#board-content {
    border: 1px solid lightgray;
    margin-top: 3px;
}

#bestdiv {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
}

/***** bestlist 부분 *****/
.bestlist-area {
    margin-top: 3px;
    margin-bottom: 3px;
}
.bestlist-area1 {
    box-sizing: border-box;
    float: left;
    width: 48%;
}
.bestlist-area2 {
    box-sizing: border-box;
    width: 48%;

}
.bestlist-area td:nth-child(1) {
    width: 14px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.bestlist-area td:nth-child(2) {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
    text-shadow: 0.1px 0.1px black;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bestlist-area td:nth-child(3) {
    width: 32px;
    font-size: 10px;
    font-weight: bold;
}
.bestlist-area>tbody>tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

/***** 카테고리 부분 *****/
.category {
    float: left;
}

/***** 목록조회 검색부분 *****/
.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-container select {
    border: 1px solid gray;
    font-size: 14px;
    height: 26px;
}
.search-container input {
    border: 1px solid gray;
    font-size: 14px;
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
.search-container select:focus, .search-container input:focus {
    outline: none;
}

#listhead {
    margin-top: 0px;
}

.list-area {
    margin-bottom: 10px;
    text-align: center;
}

.list-area th {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.list-area td {
    border-bottom: 1px solid lightgray;
    text-shadow: 0.1px 0.1px black;
}

.list-area>tbody>tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}





.list-area {
    margin-top: 10px;
}

.list-area th {
    background-color: lightgray;
}

.list-area tbody td {
    padding: 4px;
    font-size: 14px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/********** boardDetailView **********/

#recommend {
    margin-top: 10px;
    margin-bottom: 10px;
}

i.fas.fa-user {
    margin-top: 5px;
}

pre {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.btn-margin {
    margin-left: 5px;
}

/* 댓글부분 */
.comment-date {
    margin-left: 10px;
    font-size: 12px;
}

#comment-title {
    margin-right: 5px;
}

.comment {
    border-bottom: 1px solid lightgray;
}

p {
    margin-bottom: 5px;
}



/***** 좋아요버튼 호버 시 빙글뱅글 *****/
.clear-button {
    border: none;
    background-color: transparent;
}

#like:hover i,
#dislike:hover i {
    animation: fa-spin 1s infinite linear;
}

@keyframes fa-spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***** boardEnrollForm *****/
#form-submit {
    margin-top: 20px;
    text-align: center;

}

#form-submit button {
    margin-right: 10px;
}

/***** noticeListView *****/
#listhead-notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#listhead-notice h1 {
    display: inline-block;
}

#listhead-notice .search-container {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}
