
        .col {
            width: 100%;
            height: 100%;
            font-family: 'Gamja Flower', cursive;
        }
            
       .container{
            width: 100%;
            height: 100%;
        }

        #title, #category, #area, #price, #content, #amount, #image, #sell-submit {
            border-top : solid 1px rgb(180, 180, 180);
        }

        #title  {
            height : 100px;
        }
        #title>.row {
            height : 100%;
        }
        #title>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #title>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #title>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #title>.row>.col-9>input {
            width : 400px;
            height : 40px;
        }


        #category {
            height : 100px;
        }
        #category>.row {
            height : 100%;
        }
        #category>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #category>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #category>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #category>.row>.col-9>select {
            width : 400px;
            height : 40px;
        }


        #area {
            height : 150px;
        }
        #area>.row {
            height : 100%;
        }
        #area>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #area>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #area>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #area>.row>.col-9>table {
            height: 100%;
            width: 600px;
        }
        #address {
            width: 450px;
        }
        .btn {
            background-color: rgb(191, 233, 249);
            color : white;
            font-size: 15px;
        }
        .btn:hover {
            background-color: rgb(191, 233, 249);
            color : white;
            font-size: 20px;
        }

        #price {
            height : 100px;
        }
        #price>.row {
            height : 100%;
        }
        #price>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #price>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #price>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #price>.row>.col-9>table {
            height: 100%;
            width: 600px;
        }
        #price>.row>.col-9>h4 {
            margin : 0 0 0 0;
        }


        #content {
            height : 300px;
        }
        #content>.row {
            height : 100%;
        }
        #content>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #content>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #content>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #content>.row>.col-9>input {
            width : 600px;
            height : 250px;
        }
     
        #image {
            height : 300px;
        }
        #image>.row {
            height : 100%;
        }
        #image>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #image>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #image>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }

        #amount {
            height : 100px;
        }
        #amount>.row {
            height : 100%;
        }
        #amount>.row>.col {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: center;
        }
        #amount>.row>.col>h2 {
           margin : 0 0 0 0;
        }
        #amount>.row>.col-9 {
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
        }
        #amount>.row>.col-9>input {
            width : 200px;
            height : 40px;
        }
        #amount>.row>.col-9>h4 {
            margin : 0 0 0 0;
        }


        #sell-submit {
            height : 50px;
        }
        #sell-submit>.row {
            height : 100%;
        }
        #sell-submit>.row>.col {
           height : 100%;
           margin : 0 auto;
           overflow: hidden;
           display:flex;
           align-items:center; 
           justify-content: flex-end;
        }
        #sell-submit>.row>.col>input {
           height: 40px;
           width: 150px;
        }
        #sell-submit-btn {
            background-color: rgb(191, 233, 249);
            color : white;
            border-color: white;
            font-size: 25px;
        }
    

