
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-Wzk {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .navbar-3-T9J {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 6.4rem;
    width: 100%;
    background-color: #ffffff;
    height: 7.2rem;
    overflow: hidden;
    box-shadow: inset 0 -0.1rem 0 #000000);

    .container-aDv {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .column-Xex {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 60.7rem;
        width: 6.3rem;
        height: 2.7rem;
      }
      .column-sD2 {
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .column-S1E {
          align-items: center;
          flex-shrink: 0;
          margin: 0.8rem 3.2rem 0.8rem 0rem;
          height: calc(100% - 1.6rem);
          overflow: hidden;
          position: relative;
          display: flex;
          column-gap: 3.2rem;

          .link-one-9AY {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .link-two-54C {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .link-three-CuW {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .nav-link-dropdown-ws6 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 0.5703rem;
            height: 100%;

            .link-four-Hvx {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.9703rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
            .chevron-down-Dpc {
              width: 1.2595rem;
              height: 0.7125rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.053rem;
            }
          }
        }
        .column-x1W {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-iFa {
            display: flex;
            justify-content: center;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #000000;
            width: 8.4rem;
            color: #000000;
            line-height: 1.5;
            align-items: center;
            margin-right: 1.6rem;
            height: 100%;
            box-sizing: border-box;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .button-QPJ {
            height: 100%;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            width: 12rem;
            color: #ffffff;
            background-color: #000000;
          }
        }
      }
    }
  }
  .header-30-4Cx {
    padding: 11.2rem 36.75rem;
    height: 43.6rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:d50ffb0afa333613e155822dc6b3dfe63f150a74');
    flex-shrink: 0;
    width: 100%;

    .content-yqi {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .describe-what-makes-your-company-unique-YP2 {
        max-width: 66.4rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2000000817;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 2.3rem;
        flex-shrink: 0;
        font-size: 5.6rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-SzC {
        flex-shrink: 0;
        max-width: 70.5rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .layout-1-gtY {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.2rem 6.4rem 11.2rem 6.35rem;
    height: 86.4rem;
    position: relative;

    .content-QpY {
      flex-shrink: 0;
      margin: 8.35rem 7.9rem 8.35rem 0rem;
      width: 61.75rem;
      height: calc(100% - 16.7rem);

      .feature-one-LCQ {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
      }
      .content-FqA {
        margin-left: 0.05rem;
        width: 61.7rem;

        .about-company-name-CVW {
          font-weight: 700;
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 4.8rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-varius-faucibus-massa-sollicitudin-amet-augue-nibh-metus-a-semper-purus-mauris-duis-lorem-eu-neque-tristique-quis-duis-nibh-scelerisque-ac-adipiscing-velit-non-nulla-in-amet-pellentesque-sit-turpis-pretium-eget-maecenas-vestibulum-dolor-mattis-consectetur-eget-commodo-vitae-amet-pellentesque-sit-pulvinar-lorem-mi-a-euismod-risus-rhoncus-elementum-ullamcorper-nec-habitasse-vulputate-eget-dictum-quis-est-sed-egestas-tellus-a-lectus-quam-ullamcorper-in-fringilla-arcu-aliquet-fames-arculacinia-eget-faucibus-urna-nam-risus-nec-elementum-cras-porta-sed-elementum-sed-dolor-purus-dolor-dui-ut-dictum-nulla-pulvinar-vulputate-sit-sagittis-in-eleifend-dignissim-natoque-mauris-cras-molestie-velit-maecenas-eget-adipiscing-quisque-viverra-lectus-arcu-tincidunt-ultrices-pellentesque-vgQ {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          max-width: 61.7rem;
        }
      }
    }
    .placeholder-image-K6G {
      width: 61.6rem;
      height: 64rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .team-9-DhS {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 11.2rem 0rem 11.2rem 6.4rem;
    width: 100%;

    .section-title-wtL {
      width: 44.8rem;
      flex-shrink: 0;
      margin-bottom: 8rem;

      .our-team-HxC {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
      }
      .content-S4Q {
        width: 100%;
        display: flex;
        flex-direction: column;

        .introduce-your-team-CJU {
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 4.8rem;
          font-weight: 700;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-8xp {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .content-4Lg {
      width: 174.2rem;
      flex-shrink: 0;

      .content-pak {
        align-items: center;
        margin-bottom: 4.8rem;
        width: 100%;
        height: 27.3rem;
        display: flex;
        column-gap: 5rem;

        .card-Mag {
          width: 39.8rem;
          height: 100%;
          row-gap: 2.4rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-u6Q {
            width: 8rem;
            height: 8rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:2f8311d5f113a593ecc44f1684e130121bca4444');
            flex-shrink: 0;
          }
          .content-pDN {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-aTS {
              margin-bottom: 1.6rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .full-name-Y9N {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .job-title-Gr4 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-RDA {
              max-width: 39.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .social-icons-ue8 {
            box-sizing: border-box;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-linkedin-Tfe {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.9999rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
            }
            .icon-twitter-Q56 {
              height: 1.53rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.03rem 2rem 0rem 0rem;
              width: 1.8rem;
            }
            .icon-dribble-irU {
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .card-G7J {
          height: 100%;
          row-gap: 2.4rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 39.8rem;

          .placeholder-image-1Kn {
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:2f8311d5f113a593ecc44f1684e130121bca4444');
            flex-shrink: 0;
            width: 8rem;
            height: 8rem;
          }
          .content-jFn {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-gwi {
              margin-bottom: 1.6rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .full-name-r5W {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
              }
              .job-title-aXJ {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-XBe {
              flex-shrink: 0;
              max-width: 39.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .social-icons-16p {
            box-sizing: border-box;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-linkedin-wmA {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.9999rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
            }
            .icon-twitter-5sN {
              margin: 0.03rem 2rem 0rem 0rem;
              width: 1.8rem;
              height: 1.53rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-dribble-cMW {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 1.8rem;
            }
          }
        }
        .card-weg {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 39.8rem;
          height: 100%;
          row-gap: 2.4rem;

          .placeholder-image-HyS {
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:2f8311d5f113a593ecc44f1684e130121bca4444');
            flex-shrink: 0;
            width: 8rem;
            height: 8rem;
            position: relative;
          }
          .content-pTa {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .title-z7A {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1.6rem;

              .full-name-k6L {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .job-title-J7r {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-SUx {
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39.8rem;
              font-size: 1.6rem;
            }
          }
          .social-icons-98U {
            box-sizing: border-box;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-linkedin-trk {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.9999rem;
              width: 1.8rem;
            }
            .icon-twitter-dpL {
              margin: 0.03rem 2rem 0rem 0rem;
              width: 1.8rem;
              height: 1.53rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-dribble-ZT6 {
              vertical-align: top;
              flex-shrink: 0;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
            }
          }
        }
        .card-hJQ {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 39.8rem;
          height: 100%;
          row-gap: 2.4rem;

          .placeholder-image-3dA {
            width: 8rem;
            height: 8rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:2f8311d5f113a593ecc44f1684e130121bca4444');
            flex-shrink: 0;
          }
          .content-mZA {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-8ec {
              margin-bottom: 1.6rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .full-name-J3J {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
              .job-title-3Wg {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-PaY {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39.8rem;
            }
          }
          .social-icons-Hvp {
            box-sizing: border-box;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-linkedin-3QC {
              margin-right: 1.9999rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-twitter-NxG {
              height: 1.53rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.03rem 2rem 0rem 0rem;
              width: 1.8rem;
            }
            .icon-dribble-W2t {
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .content-SBS {
        display: flex;
        align-items: center;
        margin-right: 43rem;
        width: calc(100% - 43rem);
        height: 4.8rem;

        .slider-dots-aYY {
          align-items: center;
          flex-shrink: 0;
          margin: 2rem 112.9rem 2rem 0rem;
          height: calc(100% - 4rem);
          display: flex;
          column-gap: 0.8rem;

          .dot-hNG {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #000000;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
          .dot-2vL {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #8d8d8d;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
          .dot-yqa {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #8d8d8d;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
          .dot-8Cg {
            background-color: #8d8d8d;
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 0.8rem;
            height: 0.8rem;
          }
          .dot-5Np {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #8d8d8d;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
        }
        .slider-buttons-ctY {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-aaU {
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 5rem;
            flex-shrink: 0;
            margin-right: 1.5rem;
            width: 4.8rem;
          }
          .button-KHA {
            flex-shrink: 0;
            width: 4.8rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 5rem;
          }
        }
      }
    }
  }
  .testimonial-4-dYk {
    padding: 11.2rem 33.6rem;
    width: 100%;
    height: 46.9889rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .content-ZSQ {
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .stars-uWG {
        flex-shrink: 0;
        margin: 0rem 32.6rem 3.2rem 32.6rem;
        width: calc(100% - 65.2rem);
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 0.4rem;
        align-items: center;

        .vector-pdE {
          width: 2rem;
          height: 1.8889rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-mHa {
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 1.8889rem;
          object-fit: contain;
        }
        .vector-KZz {
          height: 1.8889rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
        }
        .vector-srQ {
          height: 1.8889rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
        }
        .vector-dKn {
          width: 2rem;
          height: 1.8889rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .a-customer-testimonial-that-highlights-features-and-answers-potential-customer-doubts-about-your-product-or-service-showcase-testimonials-from-a-similar-demographic-to-your-customers-nCg {
        max-width: 76.8rem;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.3999999364;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        font-weight: 700;
        color: #000000;
      }
      .avatar-RWY {
        padding-right: 0.3rem;
        width: calc(100% - 35.4rem);
        height: 6.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 17.7rem;
        box-sizing: border-box;

        .auto-group-apqx-9xL {
          box-sizing: border-box;
          padding: 0.25rem 2rem 0.25rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .avatar-image-ghN {
            border-radius: 2.8rem;
            flex-shrink: 0;
            height: 5.6rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:d50ffb0afa333613e155822dc6b3dfe63f150a74');
            margin-right: 2rem;
            width: 5.6rem;
          }
          .avatar-content-Cfi {
            flex-shrink: 0;
            margin: 0.4rem 0;
            height: calc(100% - 0.8rem);
            display: flex;
            flex-direction: column;

            .name-surname-wdJ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
            .position-company-name-5zQ {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .divider-1t4 {
          flex-shrink: 0;
          margin-right: 2.2rem;
          width: 0.1rem;
          height: 6.1rem;
          background-color: #000000;
        }
        .webflow-black-8St {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0178rem;
          width: 11.4rem;
          height: 2.8678rem;
          object-fit: contain;
        }
      }
    }
  }
  .footer-12-SyN {
    padding: 8rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;

    .content-Ptc {
      margin: 0rem 40.75rem 6.4rem 40.85rem;
      width: calc(100% - 81.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .logo-XE8 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 3.2rem 0rem;
        width: 6.3rem;
        height: 2.7rem;
      }
      .links-2wa {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-one-yrp {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .link-two-Wrk {
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-three-SVW {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .link-four-abi {
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-five-7be {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .credits-erU {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .divider-DPn {
        margin-bottom: 3.2rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .row-mAQ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 2.1rem;

        .relume-all-right-reserved-Wtg {
          margin-right: 73.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .footer-links-SXS {
          height: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .privacy-policy-nbJ {
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .terms-of-service-L72 {
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .cookies-settings-GmN {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
