
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-dd2 {
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;

  .navbar-3-yB6 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 6.4rem;
    height: 7.2rem;
    overflow: hidden;
    box-shadow: inset 0 -0.1rem 0 #000000);
    background-color: #ffffff;
    width: 100%;
    position: relative;

    .container-5V2 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .column-Ecp {
        margin-right: 60.7rem;
        width: 6.3rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .column-B2G {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;

        .column-8iC {
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.8rem 3.2rem 0.8rem 0rem;
          height: calc(100% - 1.6rem);
          overflow: hidden;
          position: relative;

          .link-one-3qA {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .link-two-BRa {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .link-three-igQ {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .nav-link-dropdown-Tdz {
            box-sizing: border-box;
            padding-right: 0.5702rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .link-four-oSx {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.9703rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .chevron-down-wJG {
              margin-top: 0.053rem;
              width: 1.2595rem;
              height: 0.7125rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .column-sSp {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .button-EHN {
            font-size: 1.6rem;
            align-items: center;
            font-weight: 400;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1.6rem;
            height: 100%;
            font-family: Roboto, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            display: flex;
            justify-content: center;
            width: 8.4rem;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
          }
          .button-WVn {
            font-family: Roboto, 'Source Sans Pro';
            background-color: #000000;
            height: 100%;
            font-weight: 400;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.5;
            white-space: nowrap;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 12rem;
            border: solid 0.1rem #000000;
          }
        }
      }
    }
  }
  .contact-7-mRi {
    padding: 11.2rem 6.4rem;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    height: 91.8rem;
    position: relative;
    align-items: center;

    .content-Hur {
      margin-right: 8rem;
      width: 61.6rem;
      height: 100%;
      flex-shrink: 0;

      .section-title-SGx {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;

        .contact-us-Phz {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Kbe {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .form-3Xe {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .input-QNC {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-N48 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .text-input-JTa {
            width: 100%;
            height: 4.8rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
        .input-dVr {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .email-PV2 {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
          }
          .text-input-inC {
            width: 100%;
            height: 4.8rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
        .input-eA4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .message-CSU {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .text-area-L2t {
            background-color: #ffffff;
            box-sizing: border-box;
            align-items: flex-end;
            flex-direction: column;
            border: solid 0.1rem #000000;
            padding: 1.2rem 0.2rem 0.276rem 1.2rem;
            width: 100%;
            display: flex;
            flex-shrink: 0;

            .type-your-message-4Ug {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 45.1rem 13.6rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
            }
            .line-2-NVN {
              margin-bottom: 0.3243rem;
              width: 0.6rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .line-1-hnY {
              width: 0.2rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-juhd-EGg {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .checkbox-n3J {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 47rem 4rem 0rem;
            width: calc(100% - 47rem);
            height: 2.1rem;
            display: flex;

            .checkbox-6pg {
              border: solid 0.1rem #000000;
              margin: 0.15rem 1.2rem 0.15rem 0rem;
              height: calc(100% - 0.3rem);
              overflow: hidden;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 1.8rem;
              position: relative;
              box-sizing: border-box;
            }
            .label-bWY {
              font-size: 1.4rem;
              font-weight: 400;
              white-space: nowrap;
              align-items: baseline;
              display: flex;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.5;

              .label-bWY-sub-0 {
              }
              .label-bWY-sub-1 {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .button-9Ag {
            height: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            width: 9.9rem;
            color: #ffffff;
            justify-content: center;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
            display: flex;
            background-color: #000000;
          }
        }
      }
    }
    .placeholder-image-EC8 {
      width: 61.6rem;
      height: 69.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .logo-2-M1r {
    background-color: #ffffff;
    flex-shrink: 0;
    height: 26.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 8rem 6.4rem 8.1rem 6.4rem;
    width: 100%;
    align-items: center;

    .trusted-by-the-worlds-best-companies-social-proof-to-build-credibility-Tqa {
      line-height: 1.3999999364;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 25.5rem;
      max-width: 28.9rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .content-kpg {
      margin: 2.3rem 0rem 2.2rem 0rem;
      box-sizing: border-box;
      padding: 1.05rem 0.3rem 0.963rem 0.3rem;
      height: calc(100% - 4.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .webflow-black-ev4 {
        margin: 0rem 3.85rem 0.07rem 0rem;
        width: 11.4rem;
        height: 2.8678rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .relume-black-yhS {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.7984rem;
        height: 100%;

        .vector-KFW {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3828rem;
          width: 3.2287rem;
          height: 3.5875rem;
        }
        .vector-rmE {
          height: 1.8468rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.009rem 0.125rem 0rem;
          width: 1.4826rem;
        }
        .vector-zMe {
          height: 1.4103rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.369rem 0.178rem 0rem 0rem;
          width: 1.3535rem;
        }
        .vector-Kui {
          flex-shrink: 0;
          margin: 0rem 0.254rem 0.241rem 0rem;
          width: 0.372rem;
          height: 1.9631rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-Tm2 {
          width: 1.2604rem;
          height: 1.3793rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 0.254rem 0rem 0rem;
        }
        .vector-b6Y {
          width: 2.0639rem;
          height: 1.3819rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.34rem 0.16rem 0rem 0rem;
        }
        .vector-vec {
          flex-shrink: 0;
          margin-top: 0.3685rem;
          width: 1.3535rem;
          height: 1.4103rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .webflow-black-TuS {
        height: 2.8678rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.85rem 0.07rem 0rem;
        width: 11.4rem;
      }
      .relume-black-aDN {
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.7984rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;

        .vector-umS {
          margin-right: 1.3828rem;
          width: 3.2287rem;
          height: 3.5875rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-FqJ {
          width: 1.4826rem;
          height: 1.8468rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.009rem 0.125rem 0rem;
        }
        .vector-Byr {
          margin: 0.369rem 0.178rem 0rem 0rem;
          width: 1.3535rem;
          height: 1.4103rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-KKN {
          margin: 0rem 0.254rem 0.241rem 0rem;
          width: 0.372rem;
          height: 1.9631rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-TRa {
          margin: 0.4rem 0.254rem 0rem 0rem;
          width: 1.2604rem;
          height: 1.3793rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-BsN {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.34rem 0.16rem 0rem 0rem;
          width: 2.0639rem;
          height: 1.3819rem;
        }
        .vector-XRS {
          height: 1.4103rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3685rem;
          width: 1.3535rem;
        }
      }
      .webflow-black-fnY {
        height: 2.8678rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0697rem;
        width: 11.4rem;
      }
    }
  }
  .contact-22-bRJ {
    height: 47.4rem;
    position: relative;
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    padding: 11.2rem 6.4rem;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;

    .content-7Pe {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.8001rem;
      width: 30.4rem;
      height: 100%;

      .icon-email-TiQ {
        margin: 0rem 0rem 3.2rem 0.4rem;
        width: 4rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .contact-info-P6G {
        width: 100%;
        display: flex;
        flex-direction: column;

        .content-YUx {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;

          .email-h6x {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2999999523;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-dWQ {
            max-width: 30.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .hellorelumeio-vkQ {
          text-decoration-line: underline;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .content-45v {
      width: 30.4rem;
      height: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.4rem;

      .icon-live-chat-Chv {
        margin: 0rem 0rem 2.8rem 0.4rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .contact-info-KnY {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content-62c {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .live-chat-SsA {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2999999523;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-C5e {
            max-width: 30.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .start-new-chat-ho6 {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          text-decoration-line: underline;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .content-36G {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.5997rem;
      width: 30.4rem;
      height: 100%;

      .icon-phone-BiG {
        object-fit: contain;
        vertical-align: top;
        margin: 0rem 0rem 3rem 0.6rem;
        width: 3.6003rem;
        height: 3.6003rem;
      }
      .contact-info-WkY {
        width: 100%;
        display: flex;
        flex-direction: column;

        .content-Gzc {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;

          .phone-EgY {
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2999999523;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-nCG {
            max-width: 30.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .item-1-555-000-0000-goS {
          font-weight: 400;
          line-height: 1.5;
          text-decoration-line: underline;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .content-ot4 {
      height: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.3999rem;
      width: 30.4rem;

      .icon-pin-1UL {
        width: 2.8973rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        margin: 0rem 0rem 2.8rem 0.951rem;
      }
      .contact-info-8Yx {
        width: 100%;
        display: flex;
        flex-direction: column;

        .content-gqN {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;

          .office-3fv {
            line-height: 1.2999999523;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            font-size: 3.2rem;
            font-weight: 700;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-PUt {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 30.4rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .sample-st-sydney-nsw-2000-au-V28 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          text-decoration-line: underline;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .footer-13-PtC {
    padding: 8rem;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;

    .content-wep {
      margin: 0rem 40.75rem 6.4rem 40.85rem;
      width: calc(100% - 81.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .logo-fap {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 3.2rem 0rem;
        width: 6.3rem;
        height: 2.7rem;
      }
      .links-nfS {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-one-Lwr {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .link-two-Bha {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .link-three-KYt {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .link-four-f6x {
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .link-five-CMn {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .credits-XQ4 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .divider-5wN {
        margin-bottom: 3.2rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .row-q9r {
        width: 100%;
        height: 2.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .relume-all-right-reserved-PBN {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 73.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .footer-links-uvQ {
          height: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .privacy-policy-3Wp {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .terms-of-service-NZ6 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
          }
          .cookies-settings-WfJ {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}
