
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-7dA {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .navbar-2-rak {
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 6.4rem;
    width: 100%;
    height: 7.2rem;
    overflow: hidden;

    .container-C8p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .column-9Zr {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 63.5rem;
        width: 6.3rem;
        height: 2.7rem;
        object-fit: contain;
      }
      .column-Uc8 {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .column-dzp {
          position: relative;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.8rem 3.2rem 0.8rem 0rem;
          height: calc(100% - 1.6rem);
          overflow: hidden;

          .link-one-MR2 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-two-gTJ {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-three-1kU {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .nav-link-dropdown-ZGC {
            box-sizing: border-box;
            padding-right: 0.5703rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .link-four-grc {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.9703rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
            .chevron-down-oRS {
              height: 0.7125rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.053rem;
              width: 1.2595rem;
            }
          }
        }
        .column-8Cp {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-gEL {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
            display: flex;
            height: 100%;
            justify-content: center;
            margin-right: 1.6rem;
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            width: 8.8rem;
            flex-shrink: 0;
          }
          .button-N7A {
            height: 100%;
            box-sizing: border-box;
            width: 8.8rem;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            justify-content: center;
            background-color: #000000;
            font-size: 1.6rem;
            white-space: nowrap;
            align-items: center;
            border: solid 0.1rem #000000;
          }
        }
      }
    }
  }
  .header-37-EQG {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 8rem;
    height: 90rem;
    position: relative;
    display: flex;
    align-items: center;

    .column-Mjn {
      margin: 28.65rem 9rem 28.65rem 0rem;
      width: 55rem;
      height: calc(100% - 57.3rem);
      flex-shrink: 0;

      .content-tDv {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .medium-length-hero-headline-goes-here-36p {
          line-height: 1.2000000817;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          max-width: 50.5rem;
          font-size: 5.6rem;
          font-weight: 700;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-wCC {
          max-width: 55rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .actions-NYQ {
        margin-right: 34.2rem;
        width: calc(100% - 34.2rem);
        height: 4.8rem;
        display: flex;
        align-items: center;

        .button-uoE {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          background-color: #000000;
          flex-shrink: 0;
          height: 100%;
          border: solid 0.1rem #000000;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          margin-right: 1.6rem;
          font-size: 1.6rem;
          display: flex;
          box-sizing: border-box;
          width: 9.6rem;
        }
        .button-1LU {
          font-size: 1.6rem;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #000000;
          height: 100%;
          font-weight: 400;
          line-height: 1.5;
          box-sizing: border-box;
          flex-shrink: 0;
          justify-content: center;
          width: 9.6rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
        }
      }
    }
    .placeholder-image-6si {
      height: 90rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 72rem;
    }
  }
  .auto-group-ty15-R9J {
    width: 100%;
    height: 164.4rem;
    position: relative;
    flex-shrink: 0;

    .product-6-xf2 {
      box-sizing: border-box;
      width: 144rem;
      height: 85.1rem;
      left: 0;
      overflow: hidden;
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      position: absolute;
      top: 0;
      background-color: #ffffff;

      .title-sGC {
        width: calc(100% - 6.4rem);
        height: 14.1rem;
        display: flex;
        align-items: flex-end;
        margin: 0rem 6.4rem 8rem 0rem;

        .section-title-ne4 {
          height: 100%;
          flex-shrink: 0;
          margin-right: 76rem;
          width: 44.8rem;

          .tagline-jZJ {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .content-sQc {
            width: 100%;
            display: flex;
            flex-direction: column;

            .products-qMS {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              font-size: 4.8rem;
              font-weight: 700;
              line-height: 1.2000000477;
              color: #000000;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ZoE {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .button-UvC {
          border: solid 0.1rem #000000;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          width: 10.4rem;
          height: 4.8rem;
          align-items: center;
          box-sizing: border-box;
          font-weight: 400;
          line-height: 1.5;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .content-muJ {
        width: 164.8rem;
        height: 50.2rem;

        .content-Xda {
          box-sizing: border-box;
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;

          .product-G5N {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-DmJ {
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
            }
            .content-Jnk {
              width: 11.4rem;
              flex-shrink: 0;

              .header-TvY {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-Qat {
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .variant-x6c {
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .item-55-u1r {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-diY {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-14t {
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            }
            .content-WGY {
              width: 11.4rem;
              flex-shrink: 0;

              .header-TxU {
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;

                .product-name-1yz {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .variant-ZVi {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-55-uJg {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
              }
            }
          }
          .product-e1N {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .placeholder-image-16p {
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
            }
            .content-vDn {
              width: 11.4rem;
              flex-shrink: 0;

              .header-G2k {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-1W8 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                }
                .variant-M4C {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-55-tK2 {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
              }
            }
          }
          .product-Ds6 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-axY {
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
            }
            .content-tyE {
              width: 11.4rem;
              flex-shrink: 0;

              .header-4Mv {
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;

                .product-name-c8Y {
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-kkY {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                }
              }
              .item-55-hQt {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .product-7-Rbn {
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      width: 144rem;
      height: 85.1rem;
      left: 0;
      top: 79.3rem;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #ffffff;
      position: absolute;

      .title-voS {
        display: flex;
        align-items: flex-end;
        margin: 0rem 6.4rem 8rem 0rem;
        width: calc(100% - 6.4rem);
        height: 14.1rem;

        .section-title-ejS {
          margin-right: 58.4rem;
          width: 62.4rem;
          height: 100%;
          flex-shrink: 0;

          .tagline-oMS {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .content-wTe {
            width: 100%;
            display: flex;
            flex-direction: column;

            .products-JJC {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              font-size: 4.8rem;
              font-weight: 700;
              line-height: 1.2000000477;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ExY {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
        .button-AbJ {
          color: #000000;
          flex-shrink: 0;
          height: 4.8rem;
          font-size: 1.6rem;
          line-height: 1.5;
          white-space: nowrap;
          font-family: Roboto, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          justify-content: center;
          width: 10.4rem;
          font-weight: 400;
          display: flex;
          align-items: center;
        }
      }
      .content-3f6 {
        width: 164.8rem;
        height: 50.2rem;

        .content-QEk {
          align-items: center;
          box-sizing: border-box;
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;

          .product-KsW {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-gi4 {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
            }
            .content-CAc {
              flex-shrink: 0;
              width: 11.4rem;

              .header-xQg {
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;

                .product-name-7Ha {
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-rFA {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-55-QGg {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 600;
              }
            }
          }
          .product-jZr {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .placeholder-image-JN4 {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
            }
            .content-cde {
              width: 11.4rem;
              flex-shrink: 0;

              .header-Ncp {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-igg {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                .variant-pzc {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-55-Li4 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-gG8 {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            flex-direction: column;

            .placeholder-image-dx4 {
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
            }
            .content-Yp8 {
              width: 11.4rem;
              flex-shrink: 0;

              .header-hwv {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-Tw6 {
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-oVA {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-55-kQQ {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 600;
              }
            }
          }
          .product-VMz {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-Frx {
              background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
            }
            .content-maQ {
              width: 11.4rem;
              flex-shrink: 0;

              .header-8fr {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-hDA {
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .variant-dcc {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .item-55-aXr {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
  .layout-210-gqn {
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    padding: 11.2rem 7.8rem 11.2rem 6.4rem;
    width: 100%;
    height: 86.4rem;

    .placeholder-image-1NG {
      height: 64rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 8rem;
      width: 61.6rem;
    }
    .content-YNC {
      margin: 15.15rem 0;
      width: 60.2rem;
      height: calc(100% - 30.3rem);
      flex-shrink: 0;

      .content-TEG {
        margin-bottom: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .long-heading-is-what-you-see-here-in-this-feature-section-1Fn {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          max-width: 53rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-73v {
          max-width: 60.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .list-9mJ {
        width: 43.8rem;
        row-gap: 1.6rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .list-item-UYg {
          box-sizing: border-box;
          padding-left: 0.3rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-relume-pcY {
            margin-right: 1.9rem;
            width: 1.8rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-AAc {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .list-item-HFE {
          padding-left: 0.3rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-relume-RcL {
            margin-right: 1.9rem;
            width: 1.8rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ZTe {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .list-item-gYG {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 0.3rem;

          .icon-relume-SXS {
            margin-right: 1.9rem;
            width: 1.8rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ynG {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .cta-27-tPS {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.2rem 35.3rem;
    width: 100%;
    height: 48.2rem;
    overflow: hidden;
    position: relative;

    .content-cKS {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .content-mTE {
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .medium-length-heading-goes-here-8Hn {
          font-weight: 700;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          text-align: center;
          font-size: 4.8rem;
          line-height: 1.2000000477;
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-F7W {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 70.5rem;
          text-align: center;
          font-size: 1.8rem;
        }
      }
      .actions-Xap {
        margin: 0 11.05rem;
        width: calc(100% - 22.1rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .form-TzG {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
          height: 4.8rem;

          .text-input-pK2 {
            font-weight: 400;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 1.2rem;
            width: 39.4rem;
            height: 100%;
            font-size: 1.6rem;
            color: #4f4f4f;
            white-space: nowrap;
            margin-right: 1.6rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
          }
          .button-h7v {
            width: 10.3rem;
            justify-content: center;
            background-color: #000000;
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            height: 100%;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
          }
        }
        .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Zvp {
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          line-height: 1.5;
          color: #000000;

          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Zvp-sub-0 {
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Zvp-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Zvp-sub-2 {
          }
        }
      }
    }
  }
  .footer-8-JYx {
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8rem;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .content-3Fe {
      margin: 0rem 40.75rem 6.4rem 40.85rem;
      width: calc(100% - 81.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .logo-Zjn {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 3.2rem 0rem;
        width: 6.3rem;
        height: 2.7rem;
      }
      .links-5y2 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-one-dje {
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-two-BFN {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
        }
        .link-three-X4L {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .link-four-TTn {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .link-five-Q88 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .credits-jAQ {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .divider-5zx {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 100%;
      }
      .row-S4p {
        width: 100%;
        height: 2.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .relume-all-right-reserved-nuN {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 73.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .footer-links-KeQ {
          height: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .privacy-policy-reL {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .terms-of-service-BwW {
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .cookies-settings-L3i {
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
