
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-sub-category-page-CRW {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .navbar-4-JjS {
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 6.4rem;
    width: 100%;
    height: 7.2rem;
    overflow: hidden;

    .container-ENC {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .column-NzC {
        flex-shrink: 0;
        margin-right: 63.5rem;
        width: 6.3rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .column-6vC {
        background-color: #ffffff;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .column-GJt {
          overflow: hidden;
          position: relative;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.8rem 3.2rem 0.8rem 0rem;
          height: calc(100% - 1.6rem);

          .link-one-mmS {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .link-two-WU8 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .link-three-eqE {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .nav-link-dropdown-bVa {
            box-sizing: border-box;
            padding-right: 0.5703rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .link-four-w3e {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.9703rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .chevron-down-rRW {
              flex-shrink: 0;
              margin-top: 0.053rem;
              width: 1.2595rem;
              height: 0.7125rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .column-Nek {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .button-vgG {
            width: 8.8rem;
            font-weight: 400;
            justify-content: center;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            display: flex;
            border: solid 0.1rem #000000;
            margin-right: 1.6rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .button-ok4 {
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            width: 8.8rem;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #000000;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .gallery-11-GtY {
    box-sizing: border-box;
    padding: 11.2rem 49.25rem 12.2rem 49.25rem;
    width: 100%;
    height: 34.3rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .section-title-bA8 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .image-gallery-9SY {
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 2.4rem;
        text-align: center;
        font-size: 4.8rem;
        flex-shrink: 0;
        line-height: 1.2000000477;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Ty2 {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .product-8-myi {
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 11.2rem 0rem 1.6rem 6.4rem;
    flex-shrink: 0;

    .title-uKE {
      flex-shrink: 0;
      margin: 0rem 6.4rem 3.7rem 0rem;
      width: calc(100% - 6.4rem);
      height: 10.1rem;
      display: flex;
      align-items: flex-start;

      .section-title-EMW {
        margin-right: 76rem;
        width: 44.8rem;
        height: 100%;
        flex-shrink: 0;

        .content-NyW {
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          height: 100%;
          font-size: 4.8rem;
          font-weight: 700;
        }
      }
      .button-i1n {
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        font-size: 1.6rem;
        border: solid 0.1rem #000000;
        width: 10.4rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        height: 4.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        box-sizing: border-box;
      }
    }
    .content-yTW {
      width: 164.8rem;
      height: 50.2rem;
      flex-shrink: 0;

      .content-8LQ {
        padding-right: 33.6rem;
        width: 100%;
        height: 40.6rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        box-sizing: border-box;

        .product-eZe {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .placeholder-image-QHv {
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
          }
          .content-6Re {
            flex-shrink: 0;
            width: 11.4rem;

            .header-ei4 {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-c96 {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .variant-9Pv {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-55-6KA {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
        .product-RsE {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .placeholder-image-bFv {
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
          }
          .content-JRE {
            width: 11.4rem;
            flex-shrink: 0;

            .header-fWg {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-DYC {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-ko2 {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
            }
            .item-55-uA8 {
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .product-qpU {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-boe {
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
          }
          .content-7GC {
            width: 11.4rem;
            flex-shrink: 0;

            .header-Get {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-pwJ {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .variant-Nhv {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .item-55-XKv {
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
            }
          }
        }
        .product-s8t {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .placeholder-image-Rw6 {
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
          }
          .content-wuS {
            width: 11.4rem;
            flex-shrink: 0;

            .header-i9W {
              flex-direction: column;
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;

              .product-name-U8g {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .variant-Bon {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .item-55-8U8 {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .product-9-qtL {
    padding: 11.2rem 0rem 1.6rem 6.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .title-aL8 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.4rem 3.7rem 0rem;
      width: calc(100% - 6.4rem);
      height: 10.1rem;
      display: flex;

      .section-title-u7W {
        width: 44.8rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 76rem;

        .content-FSG {
          white-space: nowrap;
          width: 100%;
          height: 100%;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .button-PHa {
        width: 10.4rem;
        font-size: 1.6rem;
        justify-content: center;
        box-sizing: border-box;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 1rem;
        height: 4.8rem;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        line-height: 1.5;
        color: #000000;
        display: flex;
        border: solid 0.1rem #000000;
      }
    }
    .content-4uW {
      flex-shrink: 0;
      width: 164.8rem;
      height: 50.2rem;

      .content-pNt {
        align-items: center;
        box-sizing: border-box;
        padding-right: 33.6rem;
        width: 100%;
        height: 40.6rem;
        display: flex;
        column-gap: 3.2rem;

        .product-YZn {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-7Mz {
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
          }
          .content-1yA {
            width: 11.4rem;
            flex-shrink: 0;

            .header-Ar4 {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-vaL {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-3ur {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
            }
            .item-55-oPE {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
        }
        .product-k3a {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-WHe {
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
          }
          .content-2Fz {
            flex-shrink: 0;
            width: 11.4rem;

            .header-ywv {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-jw6 {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .variant-5zx {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
            }
            .item-55-dWg {
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
            }
          }
        }
        .product-msn {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-8yE {
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
          }
          .content-46C {
            width: 11.4rem;
            flex-shrink: 0;

            .header-p5N {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-a4Y {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-K28 {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .item-55-Te8 {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .product-Crc {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .placeholder-image-NFJ {
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
          }
          .content-tDe {
            width: 11.4rem;
            flex-shrink: 0;

            .header-Skx {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-QSt {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
              }
              .variant-9QU {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .item-55-VjE {
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .product-10-RMz {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    padding: 11.2rem 0rem 1.6rem 6.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .title-9on {
      height: 10.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.4rem 3.7rem 0rem;
      width: calc(100% - 6.4rem);

      .section-title-5SY {
        margin-right: 76rem;
        width: 44.8rem;
        height: 100%;
        flex-shrink: 0;

        .content-2cg {
          white-space: nowrap;
          width: 100%;
          height: 100%;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .button-Mur {
        height: 4.8rem;
        white-space: nowrap;
        line-height: 1.5;
        margin-top: 1rem;
        width: 10.4rem;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #000000;
        border: solid 0.1rem #000000;
        font-weight: 400;
        display: flex;
      }
    }
    .content-ePA {
      width: 164.8rem;
      height: 50.2rem;
      flex-shrink: 0;

      .content-zhv {
        padding-right: 33.6rem;
        width: 100%;
        height: 40.6rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        box-sizing: border-box;

        .product-j9i {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-VPn {
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
          }
          .content-QWk {
            width: 11.4rem;
            flex-shrink: 0;

            .header-mMJ {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-Ktc {
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .variant-UmW {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .item-55-22L {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .product-ZY4 {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          flex-direction: column;

          .placeholder-image-tqE {
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
          }
          .content-19A {
            width: 11.4rem;
            flex-shrink: 0;

            .header-xq6 {
              flex-direction: column;
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;

              .product-name-7xt {
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
              }
              .variant-fDi {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-55-QSC {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
        .product-8sz {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-hRJ {
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
          }
          .content-Qac {
            width: 11.4rem;
            flex-shrink: 0;

            .header-ZyJ {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;
              width: 100%;

              .product-name-vor {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-sj6 {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .item-55-26C {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
        }
        .product-m3n {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-iji {
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
          }
          .content-2kQ {
            width: 11.4rem;
            flex-shrink: 0;

            .header-zSL {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;
              width: 100%;

              .product-name-x8G {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
              }
              .variant-HwE {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-55-e16 {
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .product-11-Mw6 {
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    padding: 11.2rem 0rem 1.6rem 6.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #ffffff;

    .title-6Nt {
      height: 10.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.4rem 3.7rem 0rem;
      width: calc(100% - 6.4rem);

      .section-title-Rg4 {
        margin-right: 76rem;
        width: 44.8rem;
        height: 100%;
        flex-shrink: 0;

        .content-yha {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          height: 100%;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #000000;
        }
      }
      .button-Jzk {
        height: 4.8rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        width: 10.4rem;
        line-height: 1.5;
        flex-shrink: 0;
        margin-top: 1rem;
        font-size: 1.6rem;
        justify-content: center;
        border: solid 0.1rem #000000;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
      }
    }
    .content-bDA {
      height: 50.2rem;
      flex-shrink: 0;
      width: 164.8rem;

      .content-XsW {
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        box-sizing: border-box;
        padding-right: 33.6rem;
        width: 100%;
        height: 40.6rem;

        .product-TmA {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-Rhz {
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
          }
          .content-wRS {
            width: 11.4rem;
            flex-shrink: 0;

            .header-Vxk {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-f6Y {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-oCk {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-55-LyN {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
        .product-Hdi {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-ez4 {
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
          }
          .content-AxQ {
            width: 11.4rem;
            flex-shrink: 0;

            .header-LM6 {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-srp {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .variant-2Up {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .item-55-ZzY {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .product-7WG {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .placeholder-image-gJU {
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
          }
          .content-QEU {
            width: 11.4rem;
            flex-shrink: 0;

            .header-mKv {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-vTi {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .variant-GXa {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .item-55-1zx {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
        .product-xvC {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .placeholder-image-L1e {
            background-image: url('REPLACE_IMAGE:5d83b3b27520f3b6ebb8a60fa82d26ba0a71c862');
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 30.4rem;
            height: 30.4rem;
            position: relative;
            background-size: 100% 100%;
          }
          .content-qyz {
            width: 11.4rem;
            flex-shrink: 0;

            .header-cE4 {
              margin-bottom: 0.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .product-name-MSY {
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .variant-hWQ {
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
            .item-55-Sit {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .cta-29-NMe {
    padding: 11.2rem 35.3rem;
    width: 100%;
    height: 48.2rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .content-7KE {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .content-U9n {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4rem;

        .medium-length-heading-goes-here-dHa {
          line-height: 1.2000000477;
          color: #000000;
          margin-bottom: 2.4rem;
          text-align: center;
          font-size: 4.8rem;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-YfS {
          flex-shrink: 0;
          max-width: 70.5rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .actions-E2U {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 11.05rem;
        width: calc(100% - 22.1rem);

        .form-a6L {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .text-input-Wkg {
            box-sizing: border-box;
            color: #4f4f4f;
            background-color: #ffffff;
            margin-right: 1.6rem;
            width: 39.4rem;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            padding: 1.2rem;
            font-weight: 400;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            height: 100%;
            white-space: nowrap;
          }
          .button-Q5N {
            display: flex;
            font-weight: 400;
            justify-content: center;
            border: solid 0.1rem #000000;
            background-color: #000000;
            width: 10.3rem;
            line-height: 1.5;
            color: #ffffff;
            white-space: nowrap;
            align-items: center;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            height: 100%;
          }
        }
        .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 400;

          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-0 {
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-1 {
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Vcc-sub-2 {
          }
        }
      }
    }
  }
  .footer-10-JCg {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;

    .content-Es2 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 40.75rem 6.4rem 40.85rem;
      width: calc(100% - 81.6rem);
      align-items: center;
      display: flex;

      .logo-mrx {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 3.2rem 0rem;
        width: 6.3rem;
        height: 2.7rem;
      }
      .links-hEp {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-one-FGL {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .link-two-BQt {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .link-three-Wxx {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .link-four-Sbi {
          margin-right: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-five-z7S {
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
    .credits-KvQ {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;

      .divider-5ua {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
      }
      .row-E1n {
        width: 100%;
        height: 2.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .relume-all-right-reserved-BBv {
          flex-shrink: 0;
          margin-right: 73.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .footer-links-75a {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;
          column-gap: 2.4rem;

          .privacy-policy-erC {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
          }
          .terms-of-service-Pon {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cookies-settings-YAt {
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
