
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-page-TXE {
  height: 214.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .contact-page-N8Q {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .navbar-6-JXr {
      box-sizing: border-box;
      padding: 0.583rem 6.4rem 0.583rem 6.4rem;
      width: 100%;
      height: 7.2rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;

      .container-bmr {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .logo-png-1-AKA {
          height: 6.0335rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 65.2rem;
          width: 18rem;
        }
        .column-goJ {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.767rem 0rem 0.767rem 0rem;
          height: calc(100% - 1.5335rem);

          .column-XJ8 {
            height: calc(100% - 2.1rem);
            overflow: hidden;
            position: relative;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;
            margin: 1.05rem 3.2rem 1.05rem 0rem;

            .home-31a {
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
            }
            .product-x8Y {
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
            }
            .about-tXz {
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
            }
            .contact-ELx {
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .button-mbn {
            display: flex;
            align-items: center;
            border: solid 0.2rem #252525;
            border-radius: 10rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 3.2rem 1.05rem 3.4rem;
            height: 100%;

            .cart-uhz {
              font-size: 1.6rem;
              color: #252525;
              white-space: nowrap;
              margin-right: 0.7rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.16rem;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .item-0-2nc {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.16rem;
              color: #f47726;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .contact-7-XDa {
      flex-shrink: 0;
      width: 100%;
      height: 91.8rem;
      background-color: #ffffff;
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 11.2rem 6.4rem;
      overflow: hidden;

      .content-FfN {
        margin-right: 8rem;
        width: 61.6rem;
        height: 100%;
        flex-shrink: 0;

        .section-title-QHN {
          margin-bottom: 3.2rem;
          display: flex;
          flex-direction: column;

          .contact-us-Lwi {
            font-size: 4.8rem;
            font-weight: 400;
            letter-spacing: 0.168rem;
            color: #252525;
            margin-bottom: 2.4rem;
            line-height: 1.2000000477;
            font-family: Russo One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-G4g {
            line-height: 1.5;
            letter-spacing: 0.063rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .form-yjn {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .input-8sa {
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .name-h9z {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-size: 1.6rem;
              flex-shrink: 0;
            }
            .text-input-oyi {
              flex-shrink: 0;
              width: 100%;
              height: 4.8rem;
              border: solid 0.1rem #252525;
              box-sizing: border-box;
              background-color: #ffffff;
              border-radius: 1rem;
            }
          }
          .input-jcU {
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .email-Vbe {
              flex-shrink: 0;
              font-weight: 500;
              color: #252525;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
            }
            .text-input-E3S {
              flex-shrink: 0;
              width: 100%;
              height: 4.8rem;
              border: solid 0.1rem #252525;
              box-sizing: border-box;
              background-color: #ffffff;
              border-radius: 1rem;
            }
          }
          .input-L6U {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .message-tNt {
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              font-size: 1.6rem;
            }
            .text-area-Qs2 {
              width: 100%;
              align-items: flex-end;
              flex-direction: column;
              border: solid 0.1rem #252525;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              border-radius: 1rem;
              padding: 1.2rem 0.2rem 0.276rem 1.2rem;

              .type-your-message-juJ {
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 43.6rem 13.6rem 0rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.056rem;
              }
              .line-2-SHv {
                flex-shrink: 0;
                margin-bottom: 0.3243rem;
                width: 0.6rem;
                height: 0.1rem;
                background-color: #000000;
              }
              .line-1-mLC {
                width: 0.2rem;
                height: 0.1rem;
                background-color: #000000;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-evbr-55z {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 2.4rem;
            width: 100%;
            display: flex;

            .checkbox-cbi {
              margin: 0rem 45.8rem 4rem 0rem;
              width: calc(100% - 45.8rem);
              height: 2.1rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .checkbox-95r {
                overflow: hidden;
                position: relative;
                border: solid 0.1rem #252525;
                box-sizing: border-box;
                margin: 0.15rem 1.2rem 0.15rem 0rem;
                width: 1.8rem;
                height: calc(100% - 0.3rem);
                background-color: #ffffff;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .label-2vL {
                color: #252525;
                font-size: 1.4rem;
                letter-spacing: 0.049rem;
                line-height: 1.5;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 400;
              }
            }
            .button-ZQU {
              color: #ffffff;
              align-items: center;
              border-radius: 5rem;
              width: 11.1rem;
              font-family: Quicksand, 'Source Sans Pro';
              display: flex;
              background-color: #252525;
              height: 4.8rem;
              letter-spacing: 0.16rem;
              white-space: nowrap;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              flex-shrink: 0;
            }
          }
        }
      }
      .placeholder-image-RxU {
        width: 61.6rem;
        height: 69.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .logo-2-Z36 {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-shrink: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 8rem 6.4rem 8.1rem 6.4rem;
      height: 26.2rem;
      position: relative;
      align-items: center;

      .trusted-by-the-worlds-best-companies-social-proof-to-build-credibility-Ufr {
        margin-right: 23.1rem;
        line-height: 1.3999999364;
        color: #252525;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 31.3rem;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.084rem;
      }
      .content-ZhJ {
        margin: 2.3rem 0rem 2.2rem 0rem;
        box-sizing: border-box;
        padding: 1.05rem 0.3rem 0.963rem 0.3rem;
        height: calc(100% - 4.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .webflow-black-Tng {
          margin: 0rem 3.85rem 0.07rem 0rem;
          width: 11.4rem;
          height: 2.8678rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .relume-black-PAY {
          flex-shrink: 0;
          margin-right: 3.7985rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .vector-Wkx {
            margin-right: 1.3828rem;
            width: 3.2287rem;
            height: 3.5875rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-FiY {
            margin: 0rem 0.009rem 0.125rem 0rem;
            width: 1.4826rem;
            height: 1.8468rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-PJx {
            margin: 0.369rem 0.178rem 0rem 0rem;
            width: 1.3535rem;
            height: 1.4103rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-is2 {
            height: 1.9631rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.254rem 0.241rem 0rem;
            width: 0.372rem;
          }
          .vector-4fz {
            flex-shrink: 0;
            margin: 0.399rem 0.254rem 0rem 0rem;
            width: 1.2604rem;
            height: 1.3793rem;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-cBi {
            margin: 0.34rem 0.16rem 0rem 0rem;
            width: 2.0639rem;
            height: 1.3819rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-wDz {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3685rem;
            width: 1.3535rem;
            height: 1.4103rem;
            object-fit: contain;
          }
        }
        .webflow-black-fvg {
          margin: 0rem 3.85rem 0.07rem 0rem;
          width: 11.4rem;
          height: 2.8678rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .relume-black-zTA {
          margin-right: 3.7984rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-uq2 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3828rem;
            width: 3.2287rem;
            height: 3.5875rem;
            object-fit: contain;
          }
          .vector-3wE {
            width: 1.4826rem;
            height: 1.8468rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.009rem 0.125rem 0rem;
          }
          .vector-n88 {
            margin: 0.369rem 0.178rem 0rem 0rem;
            width: 1.3535rem;
            height: 1.4103rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-7AQ {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.254rem 0.241rem 0rem;
            width: 0.372rem;
            height: 1.9631rem;
            object-fit: contain;
          }
          .vector-3Zr {
            flex-shrink: 0;
            margin: 0.399rem 0.254rem 0rem 0rem;
            width: 1.2604rem;
            height: 1.3793rem;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-nGY {
            width: 2.0639rem;
            height: 1.3819rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.34rem 0.16rem 0rem 0rem;
          }
          .vector-vNk {
            height: 1.4103rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3685rem;
            width: 1.3535rem;
          }
        }
        .webflow-black-GhW {
          margin-bottom: 0.0697rem;
          width: 11.4rem;
          height: 2.8678rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .contact-22-oBe {
      height: 47.4rem;
      overflow: hidden;
      display: flex;
      flex-shrink: 0;
      width: 100%;
      padding: 11.2rem 7.6rem 11.2rem 6.4rem;
      position: relative;
      column-gap: 8.9rem;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;

      .content-6wS {
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.8001rem;
        width: 24.7rem;

        .icon-email-FZS {
          object-fit: contain;
          vertical-align: top;
          margin: 0rem 0rem 3.2rem 0.4rem;
          width: 4rem;
          height: 3.2rem;
        }
        .contact-info-NPA {
          width: 100%;
          display: flex;
          flex-direction: column;

          .content-wBN {
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .email-gue {
              font-size: 3.2rem;
              letter-spacing: 0.112rem;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              font-weight: 700;
              line-height: 1.2999999523;
              color: #252525;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-1S8 {
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 24.7rem;
              font-size: 1.6rem;
            }
          }
          .hellorelumeio-tkp {
            font-weight: 400;
            line-height: 1.5;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.6rem;
            letter-spacing: 0.056rem;
            text-decoration-line: underline;
            white-space: nowrap;
          }
        }
      }
      .content-1Ke {
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.4rem;
        width: 24.7rem;

        .icon-live-chat-MeQ {
          margin: 0rem 0rem 2.8rem 0.4rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .contact-info-ggg {
          flex-direction: column;
          width: 100%;
          display: flex;

          .content-3n8 {
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .live-chat-1DA {
              flex-shrink: 0;
              font-weight: 700;
              line-height: 1.2999999523;
              letter-spacing: 0.112rem;
              font-family: Quicksand, 'Source Sans Pro';
              margin-bottom: 1.6rem;
              font-size: 3.2rem;
              color: #252525;
              white-space: nowrap;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-LFS {
              flex-shrink: 0;
              max-width: 24.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
          .start-new-chat-pgQ {
            text-decoration-line: underline;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.056rem;
          }
        }
      }
      .content-x1v {
        box-sizing: border-box;
        padding-top: 0.5997rem;
        width: 24.7rem;
        height: 100%;
        flex-shrink: 0;

        .icon-phone-VnY {
          margin: 0rem 0rem 3rem 0.6rem;
          width: 3.6003rem;
          height: 3.6003rem;
          object-fit: contain;
          vertical-align: top;
        }
        .contact-info-csA {
          width: 100%;
          display: flex;
          flex-direction: column;

          .content-mzx {
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .phone-LHN {
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 1.2999999523;
              letter-spacing: 0.112rem;
              font-family: Quicksand, 'Source Sans Pro';
              margin-bottom: 1.6rem;
              color: #252525;
              white-space: nowrap;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-TMz {
              flex-shrink: 0;
              max-width: 24.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
          .item-1-555-000-0000-kbz {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #252525;
            letter-spacing: 0.056rem;
            text-decoration-line: underline;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .content-4Mn {
        box-sizing: border-box;
        padding-top: 0.3999rem;
        width: 29.2rem;
        height: 100%;
        flex-shrink: 0;

        .icon-pin-cPJ {
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          margin: 0rem 0rem 2.8rem 0.951rem;
          width: 2.8973rem;
        }
        .contact-info-wRa {
          display: flex;
          flex-direction: column;
          width: 100%;

          .content-hfe {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            display: flex;

            .office-roS {
              font-size: 3.2rem;
              font-weight: 700;
              letter-spacing: 0.112rem;
              margin-bottom: 1.6rem;
              line-height: 1.2999999523;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-ero-bFE {
              max-width: 24.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .sample-st-sydney-nsw-2000-au-J9e {
            font-size: 1.6rem;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #252525;
            white-space: nowrap;
            font-weight: 400;
            letter-spacing: 0.056rem;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .footer-13-nac {
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      flex-direction: column;
      box-sizing: border-box;
      padding: 8rem 7.9rem 8rem 8rem;

      .content-7ct {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 47.55rem 6.4rem 47.45rem;
        width: calc(100% - 95rem);
        align-items: center;

        .logo-qYt {
          margin: 0rem 4.05rem 3.2rem 4.05rem;
          width: calc(100% - 8.1rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .logo-png-1-B6x {
            object-fit: cover;
            vertical-align: top;
            width: 25rem;
            height: 8.4rem;
          }
        }
        .links-Wf2 {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          align-items: center;

          .home-GeC {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 3.2rem;
          }
          .products-zKJ {
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 3.1rem;
            flex-shrink: 0;
            line-height: 1.5;
          }
          .about-7ui {
            font-size: 1.6rem;
            font-weight: 700;
            color: #252525;
            white-space: nowrap;
            margin-right: 3.2rem;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .contact-r6c {
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
      }
      .credits-nW4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .divider-x9e {
          margin-bottom: 3.2rem;
          width: 128rem;
          height: 0.1rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .row-Hxc {
          width: 100%;
          height: 2.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .relume-all-right-reserved-SqW {
            line-height: 1.5;
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.049rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 68rem;
          }
          .footer-links-xor {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            column-gap: 2.4rem;
            align-items: center;

            .privacy-policy-i2L {
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .terms-of-service-ctQ {
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .cookies-settings-Mb6 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
}
