
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-XGk {
  width: 100%;
  height: 443.8rem;
  overflow: hidden;
  position: relative;

  .home-page-FyS {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .navbar-2-1Bv {
      padding: 0.583rem 6.4rem 0.583rem 6.4rem;
      width: 100%;
      height: 7.2rem;
      overflow: hidden;
      position: relative;
      background-color: #f6e6cd;
      flex-shrink: 0;
      box-sizing: border-box;

      .container-8GY {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .logo-png-1-tFi {
          flex-shrink: 0;
          margin-right: 65.2rem;
          width: 18rem;
          height: 6.0335rem;
          object-fit: cover;
          vertical-align: top;
        }
        .column-chW {
          margin: 0.767rem 0rem 0.767rem 0rem;
          height: calc(100% - 1.5335rem);
          display: flex;
          align-items: center;
          background-color: #f6e6cd;
          flex-shrink: 0;

          .column-kYp {
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;
            margin: 1.05rem 3.2rem 1.05rem 0rem;
            height: calc(100% - 2.1rem);
            overflow: hidden;
            position: relative;
            display: flex;

            .home-5LC {
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
            }
            .product-Pbn {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .about-XCC {
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
            }
            .contact-TrY {
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .button-17N {
            box-sizing: border-box;
            padding: 1.05rem 3.2rem 1.05rem 3.4rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.2rem #252525;
            border-radius: 10rem;
            flex-shrink: 0;

            .cart-YNC {
              margin-right: 0.7rem;
              line-height: 1.5;
              color: #252525;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: 0.16rem;
              font-family: Quicksand, 'Source Sans Pro';
            }
            .item-0-rdn {
              letter-spacing: 0.16rem;
              color: #f47726;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
        }
      }
    }
    .header-37-kDN {
      width: 100%;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      background-color: #f6e6cd;
      box-sizing: border-box;
      padding-left: 8rem;
      height: 90rem;
      overflow: hidden;
      display: flex;

      .column-HDJ {
        margin: 26.75rem 5.9rem 26.75rem 0rem;
        width: 58.1rem;
        height: calc(100% - 53.5rem);
        flex-shrink: 0;

        .content-cFa {
          margin-bottom: 4rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .medium-length-hero-headline-goes-here-mPN {
            max-width: 58rem;
            font-weight: 400;
            letter-spacing: 0.056rem;
            font-family: Russo One, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            line-height: 1.2000000817;
            color: #252525;
            font-size: 5.6rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-G5E {
            line-height: 1.5;
            letter-spacing: 0.018rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 58.1rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .button-Hm2 {
          background: linear-gradient(-95.09deg, #f47726 106.3%, #ffb382 -8.2%);
          width: 18.5rem;
          font-size: 1.6rem;
          color: #ffffff;
          display: flex;
          font-weight: 700;
          line-height: 1.5;
          border-radius: 10rem;
          align-items: center;
          justify-content: center;
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1800000072);
          height: 5.9rem;
          letter-spacing: 0.16rem;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .placeholder-image-X9a {
        width: 72rem;
        height: 90rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 20rem 0 0 0;
        flex-shrink: 0;
      }
    }
    .auto-group-hlnw-qAG {
      width: 100%;
      height: 164.4rem;
      position: relative;
      flex-shrink: 0;

      .product-6-AyE {
        box-sizing: border-box;
        width: 144rem;
        left: 0;
        overflow: hidden;
        background-color: #ffffff;
        padding: 11.2rem 0rem 1.6rem 6.4rem;
        height: 85.1rem;
        position: absolute;
        top: 0;

        .title-Uyv {
          margin: 0rem 6.4rem 8rem 0rem;
          width: calc(100% - 6.4rem);
          height: 14.1rem;
          display: flex;
          align-items: flex-end;

          .section-title-Qcg {
            margin-right: 66.5rem;
            width: 49.7rem;
            height: 100%;
            flex-shrink: 0;

            .tranding-Yyn {
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.6rem;
              font-size: 1.6rem;
            }
            .content-sWG {
              width: 100%;
              display: flex;
              flex-direction: column;

              .tranding-products-qCC {
                letter-spacing: 0.048rem;
                white-space: nowrap;
                margin-bottom: 1.6rem;
                font-weight: 400;
                line-height: 1.2000000477;
                color: #252525;
                font-family: Russo One, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 4.8rem;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-9Ct {
                letter-spacing: 0.063rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
          .button-Sxg {
            font-weight: 700;
            font-family: Quicksand, 'Source Sans Pro';
            width: 15rem;
            white-space: nowrap;
            display: flex;
            border: solid 0.2rem #252525;
            border-radius: 10rem;
            flex-shrink: 0;
            height: 4.5rem;
            line-height: 1.5;
            letter-spacing: 0.16rem;
            color: #252525;
            justify-content: center;
            box-sizing: border-box;
            font-size: 1.6rem;
            align-items: center;
          }
        }
        .content-jRz {
          width: 164.8rem;
          height: 50.2rem;

          .content-gc8 {
            box-sizing: border-box;
            padding-right: 33.6rem;
            width: 100%;
            height: 40.6rem;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;

            .product-pCY {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-aBi {
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:b23b4435632d79423a4296b7e550cc3c73fc64cc');
                border-radius: 1rem;
                flex-shrink: 0;
              }
              .content-4sa {
                width: 12.9rem;
                flex-shrink: 0;

                .header-2ZW {
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .product-name-yje {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                  }
                  .variant-Wja {
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                  }
                }
                .item-5500-SdE {
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                }
              }
            }
            .product-NWt {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-jcL {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:060efea336098d152a6366adabaed686950eee14');
                border-radius: 1rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
              }
              .content-EJC {
                width: 12.9rem;
                flex-shrink: 0;

                .header-b8k {
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .product-name-Ypg {
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .variant-UyE {
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
                .item-5500-dLL {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .product-xtQ {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-vaL {
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:0a5488e1c5c6e8287adc6dc0ba81f1afc95cbb15');
                border-radius: 1rem;
              }
              .content-RX6 {
                flex-shrink: 0;
                width: 12.9rem;

                .header-ncY {
                  flex-direction: column;
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;

                  .product-name-Le4 {
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .variant-stt {
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                  }
                }
                .item-5500-bK6 {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                }
              }
            }
            .product-Kkt {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-tJC {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1436e8d5c63052075548481ba3d75ecdee93c7cb');
                border-radius: 1rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
              }
              .content-CJt {
                width: 12.9rem;
                flex-shrink: 0;

                .header-Mha {
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .product-name-io2 {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                  }
                  .variant-sA8 {
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                  }
                }
                .item-5500-oZa {
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
      .product-7-Knp {
        box-sizing: border-box;
        padding: 11.2rem 0rem 1.6rem 6.4rem;
        position: absolute;
        top: 79.3rem;
        overflow: hidden;
        background-color: #ffffff;
        width: 144rem;
        height: 85.1rem;
        left: 0;

        .title-qWG {
          margin: 0rem 6.4rem 8rem 0rem;
          width: calc(100% - 6.4rem);
          height: 14.1rem;
          display: flex;
          align-items: flex-end;

          .section-title-m92 {
            margin-right: 43.6rem;
            width: 72.6rem;
            height: 100%;
            flex-shrink: 0;

            .offers-promotions-Jue {
              white-space: nowrap;
              margin-bottom: 1.6rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
            }
            .content-EoJ {
              display: flex;
              flex-direction: column;
              width: 100%;

              .offers-promotion-products-c9e {
                white-space: nowrap;
                font-size: 4.8rem;
                font-weight: 400;
                line-height: 1.2000000477;
                letter-spacing: 0.048rem;
                margin-bottom: 1.6rem;
                color: #252525;
                font-family: Russo One, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-XXW {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.063rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .button-qYC {
            white-space: nowrap;
            display: flex;
            border-radius: 10rem;
            height: 4.5rem;
            font-family: Quicksand, 'Source Sans Pro';
            border: solid 0.2rem #252525;
            justify-content: center;
            font-weight: 700;
            letter-spacing: 0.16rem;
            line-height: 1.5;
            color: #000000;
            align-items: center;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 15rem;
            font-size: 1.6rem;
          }
        }
        .content-WeL {
          width: 164.8rem;
          height: 50.2rem;

          .content-4vk {
            box-sizing: border-box;
            padding-right: 33.6rem;
            width: 100%;
            height: 40.6rem;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;

            .product-Cn4 {
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .placeholder-image-mKN {
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:3d228c37a2415f3b933067cb5f6e334a6f3907a3');
                border-radius: 1rem;
              }
              .content-55A {
                flex-shrink: 0;
                width: 12.9rem;

                .header-ETr {
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .product-name-nVN {
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                  }
                  .variant-itp {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-5500-4hn {
                  white-space: nowrap;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
            }
            .product-QFr {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-AF2 {
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:fffa3a3da65d13fe169938c774e2f5b122514056');
                border-radius: 1rem;
                flex-shrink: 0;
              }
              .content-fSg {
                width: 12.9rem;
                flex-shrink: 0;

                .header-q6G {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 0.8rem;
                  width: 100%;

                  .product-name-zE4 {
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .variant-dH2 {
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                  }
                }
                .item-5500-Ank {
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 2rem;
                }
              }
            }
            .product-HsN {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .placeholder-image-TWx {
                border-radius: 1rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:7f2e21a6188350ba139c74017dd4a0f76d4ddbab');
              }
              .content-AgG {
                width: 12.9rem;
                flex-shrink: 0;

                .header-wBE {
                  margin-bottom: 0.8rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .product-name-ViY {
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .variant-2yN {
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
                .item-5500-P3E {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.07rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .product-vJ4 {
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .placeholder-image-Gsi {
                width: 30.4rem;
                height: 30.4rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:9f8f929e0b7e9db35fdda42c00b1cf0ad1d42a8f');
                border-radius: 1rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
              }
              .content-BUt {
                width: 12.9rem;
                flex-shrink: 0;

                .header-k2C {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 0.8rem;

                  .product-name-W1N {
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.063rem;
                  }
                  .variant-Ei4 {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.049rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-5500-aX2 {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: baseline;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #252525;

                  .item-5500-aX2-sub-0 {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                  }
                  .item-5500-aX2-sub-1 {
                    line-height: 1.5;
                    letter-spacing: 0.07rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
    .layout-210-MJp {
      padding: 11.2rem 6.5rem 11.2rem 6.4rem;
      height: 86.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;

      .placeholder-image-sHA {
        flex-shrink: 0;
        margin-right: 8rem;
        width: 61.6rem;
        height: 64rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .content-PmJ {
        flex-shrink: 0;
        margin: 15.15rem 0;
        width: 61.5rem;
        height: calc(100% - 30.3rem);

        .content-Y8Q {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 3.2rem;

          .long-heading-is-what-you-see-here-in-this-feature-section-6Qp {
            font-family: Russo One, 'Source Sans Pro';
            max-width: 61.5rem;
            font-weight: 400;
            line-height: 1.2;
            color: #252525;
            margin-bottom: 2.4rem;
            font-size: 4rem;
            letter-spacing: 0.04rem;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-zWC {
            flex-shrink: 0;
            max-width: 61.1rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.036rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
          }
        }
        .list-oCk {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 48.2rem;
          row-gap: 1.6rem;

          .list-item-Kwn {
            box-sizing: border-box;
            padding-left: 0.3rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-relume-g1e {
              flex-shrink: 0;
              margin: 0rem 1.9rem 0rem 0rem;
              width: 1.8rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-CEt {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
            }
          }
          .list-item-ttQ {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 0.3rem;

            .icon-relume-r4Y {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.9rem 0rem 0rem;
              width: 1.8rem;
              height: 2rem;
              object-fit: contain;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-xtG {
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
            }
          }
          .list-item-t1E {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 0.3rem;
            width: 100%;

            .icon-relume-S2k {
              margin: 0rem 1.9rem 0rem 0rem;
              width: 1.8rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-m52 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .cta-27-fRJ {
      padding: 11.2rem 35.2rem;
      width: 100%;
      height: 54rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;

      .content-o1i {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .content-x9W {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;
          align-items: center;
          display: flex;

          .medium-length-heading-goes-here-i8g {
            margin-bottom: 2.4rem;
            text-align: center;
            line-height: 1.2000000477;
            letter-spacing: 0.048rem;
            color: #252525;
            max-width: 71.5rem;
            font-size: 4.8rem;
            font-weight: 400;
            font-family: Russo One, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-pSc {
            line-height: 1.5;
            letter-spacing: 0.063rem;
            font-size: 1.8rem;
            text-align: center;
            font-weight: 400;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 73.6rem;
          }
        }
        .actions-JMn {
          margin: 0 11.15rem;
          width: calc(100% - 22.3rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .form-qsW {
            margin-bottom: 1.6rem;
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .text-input-CCG {
              box-sizing: border-box;
              width: 36.7rem;
              height: 100%;
              color: #4f4f4f;
              white-space: nowrap;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-right: 1.6rem;
              padding: 1.2rem;
              font-size: 1.6rem;
              font-weight: 400;
              border-radius: 1.5rem;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              border: solid 0.2rem #252525;
            }
            .button-fLk {
              white-space: nowrap;
              display: flex;
              border: solid 0.2rem #252525;
              width: 13rem;
              height: 100%;
              letter-spacing: 0.16rem;
              font-family: Quicksand, 'Source Sans Pro';
              border-radius: 10rem;
              font-weight: 700;
              line-height: 1.5;
              color: #252525;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              font-size: 1.6rem;
            }
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-k7J {
            align-items: baseline;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            font-weight: 400;
            color: #8c8c8c;
            white-space: nowrap;

            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-k7J-sub-0 {
            }
            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-k7J-sub-1 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              text-decoration-line: underline;
              color: #8c8c8c;
              font-family: Roboto, 'Source Sans Pro';
            }
            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-k7J-sub-2 {
            }
          }
        }
      }
    }
    .footer-8-NH6 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8rem 7.9rem 8rem 8rem;
      overflow: hidden;
      background-color: #ffffff;
      flex-direction: column;
      width: 100%;
      position: relative;
      align-items: center;
      display: flex;

      .content-h4U {
        flex-shrink: 0;
        margin: 0rem 47.55rem 6.4rem 47.45rem;
        width: calc(100% - 95rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .logo-pet {
          width: calc(100% - 8.1rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 4.05rem 3.2rem 4.05rem;

          .logo-png-1-ZMa {
            width: 25rem;
            height: 8.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .links-tek {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-3Xe {
            margin-right: 3.2rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            color: #252525;
            white-space: nowrap;
          }
          .products-yAQ {
            font-size: 1.6rem;
            font-weight: 700;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 3.1rem;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            white-space: nowrap;
          }
          .about-VuS {
            letter-spacing: 0.056rem;
            color: #252525;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.5;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Quicksand, 'Source Sans Pro';
            margin-right: 3.2rem;
          }
          .contact-Ec8 {
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
          }
        }
      }
      .credits-B1a {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .divider-8hW {
          background-color: #252525;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 128rem;
          height: 0.1rem;
        }
        .row-UWU {
          width: 100%;
          height: 2.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .relume-all-right-reserved-SCQ {
            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: 0.049rem;
            font-family: Quicksand, 'Source Sans Pro';
            margin-right: 68rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
          }
          .footer-links-Z28 {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            column-gap: 2.4rem;
            align-items: center;

            .privacy-policy-JVW {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .terms-of-service-e3a {
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .cookies-settings-xpx {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
