
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.single-product-page-1Tn {
  height: 260.1rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .single-product-page-7mi {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .navbar-4-Tag {
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.583rem 6.4rem 0.583rem 6.4rem;
      width: 100%;
      height: 7.2rem;
      overflow: hidden;

      .container-z4p {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .logo-png-1-wkk {
          flex-shrink: 0;
          margin-right: 65.2rem;
          width: 18rem;
          height: 6.0335rem;
          object-fit: cover;
          vertical-align: top;
        }
        .column-gCY {
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.767rem 0rem 0.767rem 0rem;
          height: calc(100% - 1.5335rem);
          display: flex;

          .column-baQ {
            overflow: hidden;
            position: relative;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;
            margin: 1.05rem 3.2rem 1.05rem 0rem;
            height: calc(100% - 2.1rem);

            .home-if2 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
            }
            .product-qUk {
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .about-Amv {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .contact-hmr {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .button-SUY {
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.2rem #252525;
            border-radius: 10rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 3.2rem 1.05rem 3.4rem;

            .cart-Nd6 {
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: 0.16rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              margin-right: 0.7rem;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-0-gtg {
              color: #f47726;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.16rem;
            }
          }
        }
      }
    }
    .auto-group-ict3-NmW {
      width: 100%;
      height: 211.1rem;
      position: relative;
      flex-shrink: 0;

      .product-header-2-XeQ {
        padding: 11.2rem 6.3rem 11.2rem 6.35rem;
        width: 144rem;
        height: 159.5rem;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        left: 0;
        overflow: hidden;
        background-color: #ffffff;

        .breadcrumbs-Eoi {
          margin-bottom: 2.4rem;
          display: flex;
          align-items: center;

          .category-zXz {
            font-weight: 400;
            font-size: 1.4rem;
            text-align: center;
            line-height: 1.5;
            letter-spacing: 0.049rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.35rem;
          }
          .icon-WmE {
            flex-shrink: 0;
            margin-right: 1.25rem;
            width: 0.5rem;
            height: 1rem;
            object-fit: contain;
            vertical-align: top;
          }
          .product-name-rKJ {
            text-align: center;
            font-size: 1.4rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.049rem;
            flex-shrink: 0;
          }
        }
        .content-B6g {
          margin-left: 0.05rem;
          width: calc(100% - 0.05rem);
          height: 132.6rem;
          display: flex;
          align-items: flex-start;

          .product-7W8 {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 8rem;

            .column-ric {
              row-gap: 1.6rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 1.6rem;

              .placeholder-image-15i {
                flex-shrink: 0;
                width: 8rem;
                height: 10rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
              .placeholder-image-jGc {
                border-radius: 1rem;
                flex-shrink: 0;
                width: 8rem;
                height: 10rem;
                object-fit: cover;
                vertical-align: top;
              }
              .placeholder-image-GXS {
                flex-shrink: 0;
                width: 8rem;
                height: 10rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
              .placeholder-image-oGU {
                width: 8rem;
                height: 10rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
                flex-shrink: 0;
              }
            }
            .placeholder-image-L1W {
              width: 52rem;
              height: 64rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
          }
          .column-GQx {
            flex-shrink: 0;
            width: 61.7rem;
            height: 100%;

            .product-description-phN {
              margin-bottom: 3.2rem;
              width: 61.6rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-4wsz-k5E {
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 2.4rem;
                width: 100%;
                row-gap: 2.4rem;
                display: flex;

                .product-name-5dJ {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .product-name-3KE {
                    margin-bottom: 0.8rem;
                    font-size: 4rem;
                    letter-spacing: 0.14rem;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-5500-ZoN {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.3999999364;
                    letter-spacing: 0.084rem;
                    color: #000000;
                    font-family: Quicksand, 'Source Sans Pro';
                  }
                }
                .product-review-6HW {
                  margin-right: 35.6rem;
                  width: calc(100% - 35.6rem);
                  height: 2.1rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .stars-2gx {
                    height: calc(100% - 0.58rem);
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    column-gap: 0.4rem;
                    align-items: center;
                    flex-shrink: 0;
                    margin: 0.29rem 0.8rem 0.29rem 0rem;

                    .vector-YfJ {
                      margin-top: 0rem;
                      width: 1.6rem;
                      height: 1.5111rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .vector-tUG {
                      flex-shrink: 0;
                      margin-top: 0rem;
                      width: 1.6rem;
                      height: 1.5111rem;
                      object-fit: contain;
                      vertical-align: top;
                    }
                    .vector-dwe {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-top: 0rem;
                      width: 1.6rem;
                      height: 1.5111rem;
                    }
                    .vector-BiG {
                      width: 1.6rem;
                      height: 1.52rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .vector-jjn {
                      flex-shrink: 0;
                      margin-top: 0rem;
                      width: 1.6rem;
                      height: 1.5111rem;
                      object-fit: contain;
                      vertical-align: top;
                    }
                  }
                  .stars-10-reviews-HWQ {
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.5;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    letter-spacing: 0.049rem;
                    color: #000000;
                    white-space: nowrap;
                  }
                }
                .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-CNU {
                  line-height: 1.5;
                  letter-spacing: 0.056rem;
                  color: #000000;
                  font-family: Quicksand, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 60.2rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                }
              }
              .input-dig {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .variant-bfW {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.056rem;
                  color: #000000;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.8rem;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
                .select-j12 {
                  display: flex;
                  align-items: center;
                  background-color: #ffffff;
                  border-radius: 1rem;
                  box-sizing: border-box;
                  padding: 1.2rem 1.77rem 1.2rem 1.2rem;
                  width: 100%;
                  border: solid 0.2rem #252525;
                  flex-shrink: 0;

                  .select-4Z6 {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #4f4f4f;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 52.5703rem;
                    letter-spacing: 0.056rem;
                    white-space: nowrap;
                    font-size: 1.6rem;
                  }
                  .icon-chevron-down-P5a {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.039rem;
                    width: 1.2595rem;
                    height: 0.7125rem;
                    object-fit: contain;
                  }
                }
              }
              .auto-group-xtax-U72 {
                box-sizing: border-box;
                padding: 2.4rem 0rem 3.2rem 0rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .input-16x {
                  margin-bottom: 2.4rem;
                  width: 47.6rem;
                  flex-shrink: 0;

                  .variant-9ix {
                    margin-bottom: 0.8rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.056rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .variants-HKN {
                    width: 100%;
                    height: 4rem;
                    display: flex;
                    column-gap: 1.6rem;
                    align-items: center;

                    .button-ChE {
                      font-size: 1.6rem;
                      color: #ffffff;
                      white-space: nowrap;
                      border-radius: 10rem;
                      width: 14.3rem;
                      font-weight: 700;
                      line-height: 1.5;
                      align-items: center;
                      flex-shrink: 0;
                      letter-spacing: 0.16rem;
                      font-family: Quicksand, 'Source Sans Pro';
                      justify-content: center;
                      background-color: #252525;
                      height: 100%;
                      display: flex;
                    }
                    .button-tpx {
                      border-radius: 10rem;
                      width: 14.2rem;
                      height: 100%;
                      font-weight: 700;
                      color: #000000;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      line-height: 1.5;
                      letter-spacing: 0.16rem;
                      border: solid 0.2rem #252525;
                      box-sizing: border-box;
                      font-family: Quicksand, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .button-aSt {
                      border-radius: 10rem;
                      flex-shrink: 0;
                      width: 15.9rem;
                      white-space: nowrap;
                      display: flex;
                      align-items: center;
                      box-sizing: border-box;
                      font-weight: 700;
                      line-height: 1.5;
                      letter-spacing: 0.16rem;
                      color: #b4b4b4;
                      border: solid 0.2rem #b4b4b4;
                      height: 100%;
                      font-size: 1.6rem;
                      font-family: Quicksand, 'Source Sans Pro';
                      justify-content: center;
                    }
                  }
                }
                .input-sB6 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .quantity-q7v {
                    margin-bottom: 0.8rem;
                    font-size: 1.6rem;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.056rem;
                    white-space: nowrap;
                  }
                  .text-input-AAC {
                    flex-shrink: 0;
                    font-family: Quicksand, 'Source Sans Pro';
                    text-align: center;
                    font-size: 1.6rem;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;
                    width: 6.4rem;
                    border: solid 0.2rem #252525;
                    border-radius: 1rem;
                    color: #000000;
                    font-weight: 700;
                    line-height: 1.5;
                    display: flex;
                    box-sizing: border-box;
                    height: 4.8rem;
                  }
                }
              }
              .form-submit-pVe {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                width: 100%;

                .button-NXA {
                  background-color: #f6e6cd;
                  border-radius: 10rem;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  font-family: Quicksand, 'Source Sans Pro';
                  align-items: center;
                  width: 100%;
                  font-weight: 700;
                  white-space: nowrap;
                  justify-content: center;
                  margin-bottom: 1.6rem;
                  height: 6.4rem;
                  letter-spacing: 0.16rem;
                  display: flex;
                  color: #252525;
                  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1800000072);
                  flex-shrink: 0;
                }
                .button-dxt {
                  letter-spacing: 0.16rem;
                  display: flex;
                  flex-shrink: 0;
                  width: 100%;
                  font-size: 1.6rem;
                  align-items: center;
                  height: 6.4rem;
                  white-space: nowrap;
                  font-family: Quicksand, 'Source Sans Pro';
                  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1800000072);
                  line-height: 1.5;
                  color: #ffffff;
                  background-color: #252525;
                  border-radius: 10rem;
                  font-weight: 700;
                  justify-content: center;
                }
              }
              .free-shipping-over-50-WWt {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.042rem;
                color: #000000;
                font-family: Quicksand, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                white-space: nowrap;
              }
            }
            .accordion-312 {
              flex-direction: column;
              width: 100%;
              row-gap: 2.4rem;
              display: flex;

              .accordion-item-ame {
                flex-shrink: 0;
                width: 100%;
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;

                .divider-jPe {
                  width: 61.6rem;
                  height: 0.1rem;
                  background-color: #f47726;
                  flex-shrink: 0;
                }
                .title-UME {
                  display: flex;
                  align-items: center;
                  margin-right: 0.1rem;
                  box-sizing: border-box;
                  padding-right: 0.5703rem;
                  overflow: hidden;
                  width: calc(100% - 0.1rem);
                  position: relative;
                  flex-shrink: 0;

                  .details-Qkg {
                    font-size: 1.8rem;
                    line-height: 1.5;
                    color: #252525;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 53.2703rem;
                    letter-spacing: 0.063rem;
                    white-space: nowrap;
                    font-weight: 700;
                  }
                  .icon-9CU {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-top: 0.053rem;
                    width: 1.2595rem;
                    height: 0.7125rem;
                    object-fit: contain;
                  }
                }
                .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-aenean-faucibus-nibh-et-justo-cursus-id-rutrum-lorem-imperdiet-nunc-ut-sem-vitae-risus-tristique-posuere-sPN {
                  flex-shrink: 0;
                  max-width: 61.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
              .accordion-item-4ye {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                row-gap: 1.6rem;

                .divider-DLk {
                  width: 61.6rem;
                  height: 0.1rem;
                  background-color: #f47726;
                  flex-shrink: 0;
                }
                .title-mNG {
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 0.1rem;
                  width: calc(100% - 0.1rem);
                  display: flex;
                  align-items: center;
                  box-sizing: border-box;
                  padding-right: 0.5703rem;

                  .shipping-uUU {
                    white-space: nowrap;
                    margin-right: 51.7703rem;
                    font-size: 1.8rem;
                    letter-spacing: 0.063rem;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #252525;
                  }
                  .icon-q7E {
                    margin-top: 0.053rem;
                    width: 1.2595rem;
                    height: 0.7125rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-aenean-faucibus-nibh-et-justo-cursus-id-rutrum-lorem-imperdiet-nunc-ut-sem-vitae-risus-tristique-posuere-AfJ {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 61.7rem;
                  font-size: 1.6rem;
                }
              }
              .accordion-item-NFa {
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;

                .divider-7ix {
                  width: 61.6rem;
                  height: 0.1rem;
                  background-color: #000000;
                  flex-shrink: 0;
                }
                .title-aMe {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 0.1rem;
                  width: calc(100% - 0.1rem);
                  position: relative;
                  box-sizing: border-box;
                  padding-right: 0.5703rem;
                  overflow: hidden;

                  .returns-K4L {
                    color: #252525;
                    white-space: nowrap;
                    margin-right: 52.4703rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    letter-spacing: 0.063rem;
                    line-height: 1.5;
                    font-family: Quicksand, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .icon-S8x {
                    margin-top: 0.053rem;
                    width: 1.2595rem;
                    height: 0.7125rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-aenean-faucibus-nibh-et-justo-cursus-id-rutrum-lorem-imperdiet-nunc-ut-sem-vitae-risus-tristique-posuere-N2c {
                  flex-shrink: 0;
                  max-width: 61.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
              .divider-a8g {
                background-color: #000000;
                flex-shrink: 0;
                width: 61.6rem;
                height: 0.1rem;
              }
            }
          }
        }
      }
      .cta-30-JaU {
        padding: 11.2rem 35.2rem;
        width: 144rem;
        position: absolute;
        top: 157.1rem;
        box-sizing: border-box;
        left: 0;
        overflow: hidden;
        background-color: #ffffff;
        height: 54rem;

        .content-Rf6 {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .content-zCQ {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 4rem;
            width: 100%;

            .medium-length-heading-goes-here-kBa {
              margin-bottom: 2.4rem;
              font-weight: 400;
              color: #252525;
              flex-shrink: 0;
              max-width: 71.5rem;
              text-align: center;
              font-size: 4.8rem;
              line-height: 1.2000000477;
              letter-spacing: 0.048rem;
              font-family: Russo One, 'Source Sans Pro';
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-FPE {
              max-width: 73.6rem;
              font-size: 1.8rem;
              letter-spacing: 0.063rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .actions-XrY {
            margin: 0 11.15rem;
            width: calc(100% - 22.3rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .form-gUY {
              margin-bottom: 1.6rem;
              width: 100%;
              height: 4.8rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .text-input-EW4 {
                width: 36.7rem;
                font-weight: 400;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                box-sizing: border-box;
                height: 100%;
                line-height: 1.5;
                background-color: #ffffff;
                color: #4f4f4f;
                border: solid 0.2rem #252525;
                margin-right: 1.6rem;
                padding: 1.2rem;
                font-size: 1.6rem;
                border-radius: 1.5rem;
              }
              .button-heY {
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                display: flex;
                align-items: center;
                width: 13rem;
                height: 100%;
                font-size: 1.6rem;
                font-weight: 700;
                flex-shrink: 0;
                justify-content: center;
                border: solid 0.2rem #252525;
                box-sizing: border-box;
                line-height: 1.5;
                letter-spacing: 0.16rem;
                white-space: nowrap;
                border-radius: 10rem;
              }
            }
            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-ayE {
              display: flex;
              flex-shrink: 0;
              text-align: center;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              color: #8c8c8c;
              align-items: baseline;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;

              .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-ayE-sub-0 {
              }
              .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-ayE-sub-1 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #8c8c8c;
                font-family: Roboto, 'Source Sans Pro';
              }
              .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-ayE-sub-2 {
              }
            }
          }
        }
      }
    }
    .footer-11-B5r {
      padding: 8rem 7.9rem 8rem 8rem;
      position: relative;
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      flex-direction: column;

      .content-VsE {
        margin: 0rem 47.55rem 6.4rem 47.45rem;
        width: calc(100% - 95rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .logo-qAQ {
          margin: 0rem 4.05rem 3.2rem 4.05rem;
          width: calc(100% - 8.1rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .logo-png-1-AyN {
            width: 25rem;
            height: 8.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .links-uvx {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-s76 {
            letter-spacing: 0.056rem;
            color: #252525;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
          }
          .products-bHz {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 3.1rem;
            letter-spacing: 0.056rem;
            flex-shrink: 0;
          }
          .about-idW {
            margin-right: 3.2rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #252525;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.056rem;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .contact-F7e {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
          }
        }
      }
      .credits-AkQ {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .divider-vzU {
          margin-bottom: 3.2rem;
          width: 128rem;
          height: 0.1rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .row-sui {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.1rem;

          .relume-all-right-reserved-cMW {
            flex-shrink: 0;
            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: 0.049rem;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 68rem;
            font-weight: 400;
            color: #000000;
          }
          .footer-links-vd6 {
            column-gap: 2.4rem;
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .privacy-policy-GS4 {
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .terms-of-service-Q2U {
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
            .cookies-settings-Xct {
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
