
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sub-category-page-qwN {
  width: 100%;
  height: 460.5rem;
  overflow: hidden;
  position: relative;

  .sub-categories-page-mKE {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .navbar-3-6MW {
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.583rem 6.4rem 0.583rem 6.4rem;
      width: 100%;
      height: 7.2rem;

      .container-R8t {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .logo-png-1-B84 {
          width: 18rem;
          height: 6.0335rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 65.2rem;
        }
        .column-gqW {
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.767rem 0rem 0.767rem 0rem;
          height: calc(100% - 1.5335rem);
          display: flex;

          .column-pB2 {
            overflow: hidden;
            position: relative;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;
            margin: 1.05rem 3.2rem 1.05rem 0rem;
            height: calc(100% - 2.1rem);

            .home-LQG {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .product-45N {
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
            }
            .about-Bvg {
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
            }
            .contact-vdN {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.056rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
          .button-f5A {
            box-sizing: border-box;
            padding: 1.05rem 3.2rem 1.05rem 3.4rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.2rem #252525;
            border-radius: 10rem;
            flex-shrink: 0;

            .cart-zNL {
              line-height: 1.5;
              letter-spacing: 0.16rem;
              color: #252525;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.7rem;
              font-weight: 700;
              white-space: nowrap;
              font-size: 1.6rem;
            }
            .item-0-7C4 {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.16rem;
              color: #f47726;
            }
          }
        }
      }
    }
    .gallery-11-o4t {
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 11.2rem 46.55rem 12.2rem 46.55rem;
      width: 100%;
      height: 34.3rem;
      overflow: hidden;

      .section-title-KZ2 {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .main-category-name-5YC {
          margin-bottom: 2.4rem;
          text-align: center;
          font-size: 4.8rem;
          letter-spacing: 0.048rem;
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.2000000477;
          color: #252525;
          font-family: Russo One, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Br8 {
          text-align: center;
          line-height: 1.5;
          color: #252525;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          letter-spacing: 0.063rem;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .product-8-gH6 {
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      width: 100%;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;

      .title-14U {
        margin-bottom: 3.7rem;
        width: 131.2rem;
        height: 14.1rem;
        flex-shrink: 0;

        .section-title-M8L {
          width: 48.4rem;
          height: 100%;

          .main-category-name-uQk {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
          }
          .content-31A {
            font-family: Russo One, 'Source Sans Pro';
            height: 10.1rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.2000000477;
            letter-spacing: 0.048rem;
            color: #252525;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
      .content-Yic {
        width: 164.8rem;
        height: 50.2rem;
        flex-shrink: 0;

        .content-JSt {
          box-sizing: border-box;
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;

          .product-S3J {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .placeholder-image-afJ {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:82f9e2e768fa0b5d021c3020746b637d83f04bbd');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
            }
            .content-gCY {
              flex-shrink: 0;
              width: 12.9rem;

              .header-d7n {
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;

                .product-name-Nr4 {
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-v6t {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                }
              }
              .item-5500-Fex {
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
              }
            }
          }
          .product-yqr {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .placeholder-image-k5v {
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:22b9b536dab45f0a28a5d289df8aaeb680170bfc');
            }
            .content-46c {
              flex-shrink: 0;
              width: 12.9rem;

              .header-1nY {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-AfS {
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-hvG {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
              .item-5500-dZ2 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
              }
            }
          }
          .product-wJp {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .placeholder-image-V5S {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:75091a28f6987bb3eab915cbf063218ce04c8757');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
            }
            .content-a6t {
              width: 12.9rem;
              flex-shrink: 0;

              .header-jEg {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-HGC {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                }
                .variant-1T6 {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-Yhv {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-gJL {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .placeholder-image-SHW {
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:e0d205c5f3702e6ec588d20ec1acf82fb133c4bb');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
            }
            .content-wVA {
              width: 12.9rem;
              flex-shrink: 0;

              .header-Jac {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-fAG {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
                .variant-BeQ {
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .item-5500-i8Y {
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
    .product-12-QXA {
      box-sizing: border-box;
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      width: 100%;
      overflow: hidden;
      background-color: #ffffff;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .title-jZS {
        margin-bottom: 3.7rem;
        width: 131.2rem;
        height: 14.1rem;
        flex-shrink: 0;

        .section-title-H5A {
          width: 48.4rem;
          height: 100%;

          .main-category-name-SCx {
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .content-xwz {
            width: 100%;
            line-height: 1.2000000477;
            white-space: nowrap;
            letter-spacing: 0.048rem;
            color: #252525;
            font-family: Russo One, 'Source Sans Pro';
            height: 10.1rem;
            font-size: 4.8rem;
            font-weight: 400;
          }
        }
      }
      .content-g7J {
        flex-shrink: 0;
        width: 164.8rem;
        height: 50.2rem;

        .content-Rag {
          box-sizing: border-box;
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;

          .product-MjE {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-psi {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d25fc296bd1ed5bd605a588f93330687218a4fc5');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
            }
            .content-X1S {
              width: 12.9rem;
              flex-shrink: 0;

              .header-Gzc {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-S8Q {
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-yPE {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
              .item-5500-v3a {
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
              }
            }
          }
          .product-rC8 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-DHa {
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:3b25a5c3feef4d317e201c82e60961720aa1cea6');
              border-radius: 1rem;
            }
            .content-89e {
              width: 12.9rem;
              flex-shrink: 0;

              .header-ggx {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-Sg8 {
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                }
                .variant-zBr {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                }
              }
              .item-5500-jQL {
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
              }
            }
          }
          .product-f36 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-RHA {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:b27891c5f158825388278b3bab5559c3a6f71988');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
            }
            .content-vzc {
              width: 12.9rem;
              flex-shrink: 0;

              .header-HqA {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-rNU {
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                }
                .variant-BvY {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-8at {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
              }
            }
          }
          .product-4UY {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-2RN {
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1436e8d5c63052075548481ba3d75ecdee93c7cb');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
            }
            .content-Y8p {
              flex-shrink: 0;
              width: 12.9rem;

              .header-J7z {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-FZ2 {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .variant-b76 {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-8cp {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .product-13-qn8 {
      position: relative;
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;

      .title-mQt {
        width: 131.2rem;
        height: 14.1rem;
        flex-shrink: 0;
        margin-bottom: 3.7rem;

        .section-title-tkQ {
          width: 48.4rem;
          height: 100%;

          .main-category-name-dCC {
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
          }
          .content-9RS {
            font-size: 4.8rem;
            font-weight: 400;
            font-family: Russo One, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            line-height: 1.2000000477;
            letter-spacing: 0.048rem;
            color: #252525;
            height: 10.1rem;
          }
        }
      }
      .content-4YQ {
        height: 50.2rem;
        flex-shrink: 0;
        width: 164.8rem;

        .content-DgC {
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          box-sizing: border-box;

          .product-MXW {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            flex-direction: column;

            .placeholder-image-XB6 {
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:e2f94312ef3153c59c5e06cf668ba0e827487218');
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .content-RnG {
              flex-shrink: 0;
              width: 12.9rem;

              .header-ncp {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-x1W {
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                }
                .variant-HZa {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-RQt {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
              }
            }
          }
          .product-9rg {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-i96 {
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:736eedcc5e5eb34ba4917620c9f686e117636059');
            }
            .content-QGp {
              width: 12.9rem;
              flex-shrink: 0;

              .header-kba {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;

                .product-name-uDa {
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                .variant-EWk {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-aKi {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-uct {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .placeholder-image-GCY {
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:b6694361fc2d596deefcf6929cadc20e9407dcae');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
            }
            .content-NmN {
              width: 12.9rem;
              flex-shrink: 0;

              .header-91S {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-Vqz {
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .variant-qex {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-5500-acY {
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
              }
            }
          }
          .product-KKE {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-H1A {
              background-image: url('REPLACE_IMAGE:b0f7dab2fdb69876466c57459ed23ea3a1f0b32a');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
            }
            .content-nCp {
              width: 12.9rem;
              flex-shrink: 0;

              .header-YSt {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-6UQ {
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .variant-qRz {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-5500-aPa {
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
              }
            }
          }
        }
      }
    }
    .product-14-tv4 {
      padding: 11.2rem 0rem 1.6rem 6.4rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;

      .title-q4c {
        margin-bottom: 3.7rem;
        width: 131.2rem;
        height: 14.1rem;
        flex-shrink: 0;

        .section-title-P68 {
          width: 48.4rem;
          height: 100%;

          .main-category-name-jvg {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.6rem;
          }
          .content-fZS {
            color: #252525;
            width: 100%;
            height: 10.1rem;
            font-weight: 400;
            line-height: 1.2000000477;
            letter-spacing: 0.048rem;
            font-size: 4.8rem;
            font-family: Russo One, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .content-PEY {
        width: 164.8rem;
        height: 50.2rem;
        flex-shrink: 0;

        .content-jZJ {
          box-sizing: border-box;
          padding-right: 33.6rem;
          width: 100%;
          height: 40.6rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;

          .product-fhr {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-d8t {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:8b79230ea18844804c6df2d3b7b47329fd08aea8');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
            }
            .content-w9a {
              width: 12.9rem;
              flex-shrink: 0;

              .header-u6Q {
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;

                .product-name-f5a {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .variant-ztY {
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .item-5500-YQG {
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
              }
            }
          }
          .product-sxL {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-rA4 {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:5acbdfa8b82c7a0283b031a09c49d9b3962927d8');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
            }
            .content-xTz {
              width: 12.9rem;
              flex-shrink: 0;

              .header-KZS {
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;

                .product-name-GzU {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .variant-RMa {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                }
              }
              .item-5500-AKA {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-hZz {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .placeholder-image-rhn {
              background-image: url('REPLACE_IMAGE:f34d536efac407d9da33344ca227223d3590bd61');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
            }
            .content-ZcC {
              flex-shrink: 0;
              width: 12.9rem;

              .header-izt {
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;
                width: 100%;

                .product-name-t8g {
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  letter-spacing: 0.063rem;
                  color: #252525;
                }
                .variant-ECY {
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .item-5500-yR2 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .product-Wfr {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-Ucg {
              height: 30.4rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:cbff179698ee7c99b416f99c3a1b893437451583');
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 30.4rem;
            }
            .content-nNU {
              width: 12.9rem;
              flex-shrink: 0;

              .header-9Tv {
                margin-bottom: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .product-name-WJU {
                  letter-spacing: 0.063rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .variant-3ZJ {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  letter-spacing: 0.049rem;
                  color: #252525;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-5500-b52 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.07rem;
                color: #252525;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .cta-29-uLc {
      width: 100%;
      height: 54rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 11.2rem 35.2rem;

      .content-3Sp {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .content-bz8 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;

          .medium-length-heading-goes-here-ZRA {
            line-height: 1.2000000477;
            letter-spacing: 0.048rem;
            margin-bottom: 2.4rem;
            max-width: 71.5rem;
            font-weight: 400;
            font-family: Russo One, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 4.8rem;
            color: #252525;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-rv4 {
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.5;
            letter-spacing: 0.063rem;
            color: #252525;
            max-width: 73.6rem;
            font-weight: 400;
          }
        }
        .actions-8cg {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0 11.15rem;
          width: calc(100% - 22.3rem);
          align-items: center;

          .form-sqA {
            margin-bottom: 1.6rem;
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .text-input-q1J {
              font-family: Roboto, 'Source Sans Pro';
              background-color: #ffffff;
              width: 36.7rem;
              border: solid 0.2rem #252525;
              flex-shrink: 0;
              font-weight: 400;
              box-sizing: border-box;
              height: 100%;
              line-height: 1.5;
              color: #4f4f4f;
              border-radius: 1.5rem;
              margin-right: 1.6rem;
              font-size: 1.6rem;
              white-space: nowrap;
              padding: 1.2rem;
            }
            .button-6C8 {
              display: flex;
              letter-spacing: 0.16rem;
              line-height: 1.5;
              color: #252525;
              white-space: nowrap;
              justify-content: center;
              border: solid 0.2rem #252525;
              flex-shrink: 0;
              font-weight: 700;
              font-size: 1.6rem;
              font-family: Quicksand, 'Source Sans Pro';
              border-radius: 10rem;
              height: 100%;
              align-items: center;
              box-sizing: border-box;
              width: 13rem;
            }
          }
          .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn {
            line-height: 1.5;
            color: #8c8c8c;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            display: flex;
            flex-shrink: 0;

            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-0 {
            }
            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-1 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              text-decoration-line: underline;
              color: #8c8c8c;
              font-family: Roboto, 'Source Sans Pro';
            }
            .by-clicking-sign-up-youre-confirming-that-you-agree-with-our-terms-and-conditions-Ahn-sub-2 {
            }
          }
        }
      }
    }
    .footer-10-Ybr {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 8rem 7.9rem 8rem 8rem;
      width: 100%;
      position: relative;

      .content-H3e {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 47.55rem 6.4rem 47.45rem;
        width: calc(100% - 95rem);

        .logo-1EY {
          margin: 0rem 4.05rem 3.2rem 4.05rem;
          width: calc(100% - 8.1rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .logo-png-1-8px {
            width: 25rem;
            height: 8.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .links-snY {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-qDa {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .products-krL {
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.1rem;
            font-size: 1.6rem;
            font-weight: 700;
          }
          .about-HrG {
            margin-right: 3.2rem;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
          }
          .contact-1XN {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.056rem;
            color: #252525;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
      .credits-YGQ {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .divider-JWU {
          margin-bottom: 3.2rem;
          width: 128rem;
          height: 0.1rem;
          background-color: #252525;
          flex-shrink: 0;
        }
        .row-FAp {
          width: 100%;
          height: 2.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .relume-all-right-reserved-zu6 {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
            margin-right: 68rem;
            font-size: 1.4rem;
            letter-spacing: 0.049rem;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .footer-links-X8L {
            height: 100%;
            display: flex;
            column-gap: 2.4rem;
            align-items: center;
            flex-shrink: 0;

            .privacy-policy-fVS {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .terms-of-service-oLk {
              letter-spacing: 0.049rem;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .cookies-settings-jkC {
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.049rem;
            }
          }
        }
      }
    }
  }
}
